.ui-jqgrid .ui-widget-header {
    color: white;
	text-align: center;
    background-color: #473B38;
    background-image: none
}

.ui-jqgrid tr.ui-row-ltr td,th 
{
   font-size: 12px;
   text-align:center;	
}


.ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    background-color: #F9F5F4;
    background-image: none;

}

.EditTable td input, .EditTable td select, .EditTable td textarea {
	width: auto;
}


.ui-jqgrid .ui-pg-table td {
    font-weight: normal;
    vertical-align: middle;
    padding: 0px;
}


