 .statusCard {
  	Add shadows to create the "statusCard" effect
  		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  		transition: 0.3s;
  		width:212px;
  		float:left;
  		margin: 0 auto 10px 10px;
  		color:black;
} 

/* On mouse-over, add a deeper shadow */
/*.statusCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.statusCard .holder {
    /*padding: 2px 16px;*/
}
.total_sufi
{
	background:rgb(46, 194, 226);	
}	
.info_sufi
{
	background:rgb(0, 251, 251);	
}	
.warn_sufi
{
	background:rgb(250, 70,220);	
}
.minor_sufi
{
	background:rgb(255, 255, 0);	
}
.major_sufi
{
	background:rgb(255, 128, 0);	
}
.critical_sufi
{
	background:rgb(255,0,0);	
}

.ui-widget-content {
	background: #f0f6f7 url(images/ui-bg_highlight-soft_100_feeebd_1x100.png) 50% top repeat-x;
}

.ui-widget-header  {
	border: 1px solid #d19405;
	background: #05a3f7 url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #4c3000;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default   {
	border: 1px solid #d19405;
	background: #2EC2E2 url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #4c3000;
}

.center {
  margin: auto;
  width: 40%;
  border: 1px solid black;
  padding: 10px;
}

.ui-jqgrid .ui-widget-header {
    color: white;
	text-align: center;
    background-color: #473B38;
    background-image: none
}

.ui-jqgrid tr.ui-row-ltr td,th 
{
   font-size: 14px;
   text-align:center;	
}