
body 
{
	height:100%;
	width:100%;
   overflow: hidden;
}

#dashboard{
color: #fff;
}

.swal-overlay {
  z-index: 9999999;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul
{
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

ul li
{
	
	padding: 1px;
}

.navbar {
    min-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
}

.selectednode
{
	background: rgb(204, 221, 236);
}

.container
{
	padding:5px;
	height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

.row
{
	height:100%;
	margin-right:0px;
	margin-left:0px;
}

.h-100_custom
{
	height: 88%;	
}

.cont_row
{
	margin-bottom:5px;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
   padding-right: 2px;
    padding-left: 2px;
    }
	
.box_border
{
	border:1px solid black;
	padding:0px !important;
}

.box_title {
    /* border-bottom: 1px solid gray; */
    background: #505b65;
    color: white;
    padding-left: 8px;
        height: 24px;
}

.fixed_header
{
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;
    margin: 0px;
}

.fixed_header tbody
{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.fixed_header thead tr 
{
   display: block;
}

.fixed_header thead {
  /*background: black;
  color:#fff;*/
      background: #efefef;
    color: #000000;
    border-bottom: 1px solid #00000069;
  
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}


.fixed_header tbody tr:nth-child(even)
{
	background:#dedede;
}

.table_cont
{
	height:calc(100% - 24px);
	/*overflow:auto;*/
	
}

.table_cont table
{
	font-size:12px;
}

.table_cont .table td, .table th {
    padding: 3px;
	border: 1px solid #dee2e6;
}

.table_cont1
{
	height:calc(100% - 25%);
	/*overflow:auto;*/
	
}

.table_cont1 table
{
	font-size:12px;
}

.table_cont1 .table td, .table th {
    padding: 3px;
	border: 1px solid #dee2e6;
}

.h-45 {
    height: 45%!important;
}

.color-symbol
{
	width:15px;
	height:15px;
	display: inline-block;
	background:red;
	margin-right:5px;
}

/*.card
{
	padding: 15px;
    border: 3px solid black;
}*/


.card-body
{
	padding: 0px;
	font-size:12px;
	background: #ddddc9;
}

.card-head
{
	text-align:center;
	margin-bottom: 15px;
	
}

.config_button
{
	    float: right;
}

.status_table thead,#add_node_form thead
{
	font-size: 12px;
}
.status_table
{
	    margin: 0 auto;
    	line-height: 3px;
        height: 150px;
    	overflow-y: auto;
    	overflow-x: hidden;
    	font-size:11.5px;
}
.status_table_head
{
		margin-bottom:0;
		margin: 0 auto;
    	line-height: 3px;
    	
}

.system_table
{
	
}

.system_table
{
	
}

.node_list_box
{
	max-height:90px;
	overflow-y: auto;
    /* overflow: auto; */
    overflow-x: hidden;	
}


#status_container .card-body
{
	height: 367px;
    /*overflow-y: auto;
     overflow: auto; 
    overflow-x: hidden;	*/
}

#node_config
{
	height: 290px;
    overflow-y: auto;
     
    overflow-x: hidden;	
}


.status_bar
{
	font-size:12px;
	padding:0px;
	text-align:center;
	color:white;
}


.status_bar tr:first-child
{
	background: #124763;
	color:white;
}
 
.status_bar thead
{
	text-align:center;
}


.status_bar td
{

	padding:0px;
}

.status_bar thead
{

	display:none;
	background:#f8f7f6;
	
}

.status-row
{
	margin-top:10px;
}

.bottom1
{
	margin-bottom:-17px;
}

.status-row col-md-12
{
	padding:0px;
}

#status_container
{
	margin-top:10px;
	
}
#newStatus_container
{
	margin-top:102px;
	margin-left:150px;
	//width: 112px;	
}

.card-header
{
	padding-top:5px;
	padding-bottom:5px;
	background:#124763;
	color:white;
}

#node_status
{
	width: 112px;
    height: 28px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
        margin: 0 auto;
}

.not_reachable
{
	background:red;
	color:white;
}

.reachable
{
	background:#ff8080;
	color:white;
}

.running
{
	background:green;
	color:white;
}

.Scanning
{
	background:yellow;
	color:black;
}

.monitor
{
	background:#ff8040;
	color:white;
}

#add_node
{
	text-decoration: underline;
	float:right;
	font-size:12px;
	cursor:pointer;
	color: gainsboro;
}

#add_ptz{
	text-decoration: underline;
	float:right;
	font-size:12px;
	cursor:pointer;
	color: gainsboro;
	margin-right:3px;
}
.btn-row
{
	text-align:right;
}

.form
{
	margin-bottom: 0.5rem;
}

#map_leaf
{
	height:100%;
	width:100%;
}

#led_status
{
	   height: 35px;
    width: 24px;
    background-image: url(../images/led_off.png);
    background-size: contain;
    margin: 10px auto;
}
#status_tab_container
{
    height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
}


.modal-header 
{
	    padding-top: 5px;
    padding-bottom: 5px;
    background: #124763;
    color: white;
}

.modal-title
{
	font-size:16px;
	font-weight:400;
}

.modal-body
{
	font-size:12px;
	font-weight:400;
}

#buttonOption
{
	margin-top: -140px;
    margin-left: 65px;
}

#myModal .modal-dialog
{
	 width: 274px;
}

#newModal .modal-header
{
	 width: 550px;
}

#networktype
{
	width: 60px;
	height: 22px;
}

#timeout
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#validity
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#selftimeout
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#applybutton
{
	width: 52px;
	height: 25px;
}

#add_node_form
{
	margin : 0px;
}

.btn-info {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}

.btn-info1 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}

.btn-info2 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
    font-size: 1 rem;
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-bottom: 0rem;
    padding-right: 0.5rem;
}

.btn-info3 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}


#def_container
{
	    padding: 10px;
}

#def_container button
{
	width: 109px;
}

.ON
{
	background:black;
}

.OFF
{
	background:grey;
	color:black;
}
.START_TIME
{
	background:black;
	color:white;
}

.modal-dialog1 {
	max-width: 800px;
}

.modal-dialog2 {
	max-width: 550px;
}

body {
	line-height: 1.4;
}

fieldset {
	/*border: 0*/
}

legend {
	/*width: 100%;*/
	margin-bottom: .2rem;
	font-size: 14px;
}

.table td, .table th {
	/*padding: .58rem;*/
}

.myTable td, .myTable th {
	padding: .25rem;
}

.btn1 {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn2 {
	display: inline-block;
	font-weight: 400;
	height: 28px;
    width: 70px;
    margin-top: -5px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn3 {
	display: inline-block;
	font-weight: 400;
	text-align: center;
    margin-left: 710px;
    margin-top: 5px;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
	
.ui-jqgrid tr.ui-row-ltr td 
{
   text-align:center;	
}
	
.auto_mode 
{
	background:red;	
}

.unsortable 
{
    background: #c7c5c5;
    opacity:.5;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background: #e1e4e6;
}

.custom-control-label::before
{
	border: 1px solid #aed0ea;
}

#spectrogram{
  #height: 100px;
}


.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		background-color: red;	}
	49%{	background-color: transparent;	}
	50%{	background-color: transparent;	}
	99%{	background-color:transparent;	}
	100%{	background-color: green;	}
}


/*#fault_modal {
    position: fixed;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 73%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}*/

#fault_modal .modal-dialog {
    position:fixed;
    bottom:33px;
    right:0px;
    margin:0px;
}

table#fault-table 
{
    font-size: 11px !important;
}

#fault-table .btn-info
{
	padding: 1px 5px 1px 5px;
    font-size: 11px;
}

table#bl_table,table#el_table,table#cue_table {
  position: relative;
  display: block;
  margin-left: 0px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}

table#bl_table thead,table#el_table thead,table#cue_table thead {
    background-color: rgb(239, 239, 239);
    color: black;
}

table#bl_table tbody,table#el_table tbody,table#cue_table tbody {
  position: relative;
  display: inline-block;
  height: 100%;
  /* Testing */
  width:185%;
  overflow-y: scroll;
}

table#el_table td, table#el_table th{
  min-width: 80px;
  max-width: 80px; 
}

table#bl_table td, table#bl_table th{
  min-width: 80px;
  max-width: 80px; 
}

table#cue_table td, table#cue_table th {
  min-width: 100px;
}

.head-right{
float:right;
margin-right:5px;
margin-top:3px;
margin-left:5px;
}

/*
#fault-table
{
	max-height:500px !important;
	height:500px !important;
}



#fault_modal .modal-dialog {
    position:fixed;
    bottom:33px;
    right:0px;
    margin:0px;
}

table#fault-table 
{
    font-size: 11px !important;
}

#fault-table .btn-info
{
	padding: 1px 5px 1px 5px;
    font-size: 11px;
}

*/

#jqContextMenu
{
	z-index:9999 !important;
}


#fault_modal .modal-dialog 
{
    max-width: 800px !important;
    width: 800px !important;
}

#fault_modal .modal-body
{
    overflow:scroll;
}

.ui-jqgrid tr.ui-row-ltr td,th
{
   font-size: 12px;
   text-align:center;	
}

.ui-th-ltr{
	width:100px; !important;
}

.ui-jqgrid,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager,
{
    font-size: 12px;
}

.ui-jqgrid .ui-pg-input 

.ui-jqgrid-bdiv
{
	
	height: 50px !important;
}

#oldPeakDiv
{
	overflow-x:scroll;
	height: 80% !important;
}

/*
#gbox_fault-table
{
	width:100% !important;
}

#gview_fault-table
{
	width:100% !important;
}

.ui-jqgrid-pager
{
	width:100% !important;
}


.ui-jqgrid-bdiv
{
	width:100% !important;
}

.ui-jqgrid-hdiv
{
	width:100% !important;
}




.ui-jqgrid-htable
{
	width:100% !important;
}
*/

#gs_inserttime, #gs_time,  #gs_type, #gs_technology, #gs_lat, #gs_lon{
	border-radius: 20px;
	display:none;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
	color: black;
}
#gs_frequency, #gs_angle, #gs_power, #gs_sector{
	border-radius: 20px;
	font-size:15px;
	text-align: center;
}
.clearsearchclass{
	display:none;
}


.evnt_button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #666;
  cursor: pointer;
  font-size: 15px;
}

/* Style the active class (and buttons on mouse-over) */
.active, .evnt_button:hover {
  background-color: #f1f1f1;
  color: black;
}

.fas{
	padding: 6px;
	color: #07277F;
	margin-left: 5px;
	
}

.fas:hover{
	background-color: #6C84C7;
}

.right-bottom{
	position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(63,255,106,0.69);
}