html
{
	min-height:100%;
	height:100%;
}
body 
{
	height:100%;
	width:100%;
	/*font-family: Arial, Helvetica, sans-serif !important;*/
	font-family: "Times New Roman", Times, serif !important;
   
}

.btn_Gen {
    height: 30px;
    padding: 0px 10px;
    width: 100%;
    background-color: #000000;
    color: white;
    border: 1px solid black;
}

.btn_Gen:hover {
    background-color: #635d5d !important;
     border: 1px solid black  !important;
}


.navbar 
{
   	min-height: 20px;
   	padding-bottom: 0px;
   	padding-top: 0px;
    margin-bottom: 2px;
}

.nav-btn
{
	width: auto !important;;
}


.nav-btn a
{
	color:white !important;
}

.box_title {
    /* border-bottom: 1px solid gray; */
    background: #505b65;
    color: white;
    padding-left: 8px;
        height: 24px;
}

.box_border
{
	border:1px solid black;
	padding:0px !important;
	/*overflow-y:hidden !important;*/
}



.fixed_header
{
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;
    margin: 0px;
}

.fixed_header tbody
{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.fixed_header thead tr 
{
   display: block;
}

.fixed_header thead {
  /*background: black;
  color:#fff;*/
      background: #efefef;
    color: #000000;
    border-bottom: 1px solid #00000069;
  
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}


/*.fixed_header tbody tr:nth-child(even)
{
	background:#dedede;
}*/


.table_cont
{
	height:calc(100% - 24px);
	height: -moz-calc(100% - 24px);
	height: -webkit-calc(100% - 24px);
	overflow:auto;
	
}


.table_cont table
{
	font-size:12px;
}

.table_cont .table td, .table th {
    padding: 3px;
    border: 1px solid #dee2e6;
}




.ticketClass {
    color: black;
    background-color: grey;
    border-radius: inherit;
    padding: 10px;
    width: calc(100% - 10px);
    width: -moz-calc(100% - 10px);
	width: -webkit-calc(100% - 10px);
	
    margin: 0 auto;
    box-shadow: 1px 2px 5px;
    line-height: 1;   
}



.myBox:hover 
{
    box-shadow: 1px 4px 16px 3px;
}

.gridColumn
{
	margin-right: 0px;
	margin-left: 0px;
	display:grid;
	grid-template-columns: 20% 80%;
}
.gridRow
{
	margin-right: 0px;
	margin-left: 0px;
	display:grid;grid-template-rows: 30% 30% 30%;
	border-color:solid black;
}
      
.imageClass
      {
      width : 30px;
      height : 35px;
      display : block;
      float : left ;
      margin-top : 2vh ;
      margin-left : 0 px;
      }
      
      
 .head-left
 {
 float:left;
 }     

    
.head-right
 {
     float: right;
    margin-right: 5px;
    margin-top: 3px;
 }
 
 .e_tab tbody tr:nth-child(even)
{
	background:#dedede;
}

.modal-header 
{
	    padding-top: 5px;
    padding-bottom: 5px;
        background: #1a1d20;
    color: white;
}

.modal-title
{
	font-size:16px;
	font-weight:400;
}

.modal-body
{
	font-size:12px;
	font-weight:400;
}

.btn-info {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}
