
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
	
}
.table > tbody > tr > td {
    
    font-size: 12px;
    
}

.table-bordered
{
	background-color: #FFF;
}

.table-bordered tbody tr:nth-child(even)
{
	background-color: rgb(242,242,242);
}

.table-bordered thead{
    background: #64a6e6;
}

.table > thead > tr > th {
   font-size:14px;
    font-weight: 600;
}


.navbar {
    margin-bottom: 14px;
}




.common_tables{
	font-weight: 500;
	
}
.common_tables thead
	{	
	font-size:16px;
	}
.common_tables td
	{
		padding: 5px !important;
		font-size:15px;		
	}
	
	
	
	
/**********************************************************************/

	

.report_tables tr
	{
	
	}
	.report_tables thead
	{	
	padding-bottom: 2px !important;
	background-color: #FAFAFA;
	text-align:center;
	
	
	}
	.report_tables th
	{padding-bottom: 0px !important;
		font-size:14px !important;
		text-align:center;				
	}
	.report_tables td
	{
		padding: 5px !important;
		font-size:15px;		
	}
	
/*******************************************************************************/


	
.tab_com {
    border-collapse: collapse;
    width: 99%;
    margin: 0 auto 10px 10px;
	text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	font-weight:600;
	
}

.tab_com td {
    text-align: left;
	font-size:15px;
	padding: 5px !important;
}

.tab_com tr:nth-child(even){background-color: #f2f2f2}

.tab_com th {
    /*background-color: #4CAF50;*/
    color: white;
	font-size:16px;
	padding: 7px !important;
}
.tab_com thead {
    background-color: #3a5795;
    color: white;
	
	
}
/*************************************************************************/


/***********************************************************/







.btn-default {
    color: #333;
	border-radius: 4px;
	border: 1px solid;
	padding: 6px 12px;
    border-color: rgb(169, 169, 169);
}





.filter_button
	{
		
		margin-left: 5px;
		margin-right: 5px;
		float:right;
	}
	
	
	
	
	label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
	font-size:14px;
}



h4, .h4 {
    font-size: 21px;
    font-weight: 600;
}



b, strong {
    font-weight: 600;
}

 input[type="file" i]::-webkit-file-upload-button {
   color: #333;
    background-color: #fff;
    border-color: #ccc;
	border-radius: 2px;
	border: 1px solid ;
	padding: 2px 4px;
}

.jstree-default.jstree-focused {
    
    font-size: 16px!important;
}

.legendheader{
	font-weight:600;
}

.main-panel,.wrapper
{
	
	    background-color: white;
}

#container
{
	background-color: white !important;
}
#message_box
{
	background-color: white !important;
}

#left_box {
    /* width: 60%; */
background-color: white !important;
border: 1px solid white !important;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.modal-header{
	height: 45px;
	padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 22px;
    background-color: rgb(242,242,242);
}

table thead tr th{
	font-size: 14px;
}

table tbody tr td{
	font-size: 12px;
}
