
body 
{
	height:100%;
	width:100%;
   overflow: hidden;
}

#operation{
color: #fff;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.table_cont
{
	/*overflow:auto;*/
	
}

.table_cont table
{
	font-size:12px;
}

.table_cont .table td, .table th {
    padding: 3px;
	border: 1px solid #dee2e6;
}

ul
{
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

ul li
{
	
	padding: 1px;
}

.navbar {
    min-height: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
}

.selectednode
{
	background: rgb(204, 221, 236);
}

.container
{
	padding:5px;
	height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

.color-symbol
{
	width:15px;
	height:15px;
	display: inline-block;
	background:red;
	margin-right:5px;
}

/*.card
{
	padding: 15px;
    border: 3px solid black;
}*/


.card-body
{
	padding: 0px;
	font-size:12px;
	background: #ddddc9;
}

.card-head
{
	text-align:center;
	margin-bottom: 15px;
	
}

.box_title {
    /* border-bottom: 1px solid gray; */
    background: #505b65;
    color: white;
    padding-left: 8px;
        height: 24px;
}

.config_button
{
	    float: right;
}

.status_table thead,#add_node_form thead
{
	font-size: 12px;
}
.status_table
{
	    margin: 0 auto;
    	line-height: 3px;
        height: 150px;
    	overflow-y: auto;
    	overflow-x: hidden;
    	font-size:11.5px;
}
.status_table_head
{
		margin-bottom:0;
		margin: 0 auto;
    	line-height: 3px;
    	
}

.system_table
{
	
}

.system_table
{
	
}

.node_list_box
{
	max-height:90px;
	overflow-y: auto;
    /* overflow: auto; */
    overflow-x: hidden;	
}


#status_container .card-body
{
	height: 385px;
    /*overflow-y: auto;
     overflow: auto; 
    overflow-x: hidden;	*/
}

#node_config
{
	height: 320px;
    overflow-y: auto;
     
    overflow-x: hidden;	
}


.status_bar
{
	font-size:12px;
	padding:0px;
	text-align:center;
	color:white;
}


.status_bar tr:first-child
{
	background: #124763;
	color:white;
}
 
.status_bar thead
{
	text-align:center;
}


.status_bar td
{

	padding:0px;
}

.status_bar thead
{

	display:none;
	background:#f8f7f6;
	
}

.status-row
{
	margin-top:10px;
}

.bottom1
{
	margin-bottom:-17px;
}

.status-row col-md-12
{
	padding:0px;
}

#status_container
{
	margin-top:10px;
	margin-bottom: 10px;
}
#newStatus_container
{
	margin-top:102px;
	margin-left:150px;
	//width: 112px;	
}

.card-header
{
	padding-top:5px;
	padding-bottom:5px;
	background:#124763;
	color:white;
}

#node_status
{
	width: 112px;
    height: 28px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
        margin: 0 auto;
}

.not_reachable
{
	background:red;
	color:white;
}

.reachable
{
	background:#ff8080;
	color:white;
}

.running
{
	background:green;
	color:white;
}

.Scanning
{
	background:yellow;
	color:black;
}

.monitor
{
	background:#ff8040;
	color:white;
}

#add_node
{
	text-decoration: underline;
	float:right;
	font-size:12px;
	cursor:pointer;
	color: gainsboro;
}

#add_ptz{
	text-decoration: underline;
	float:right;
	font-size:12px;
	cursor:pointer;
	color: gainsboro;
	margin-right:3px;
}
.btn-row
{
	text-align:right;
}

.form
{
	margin-bottom: 1rem;
}

#map_leaf
{
	height:100%;
	width:100%;
}

#led_status
{
	   height: 35px;
    width: 24px;
    background-image: url(../images/led_off.png);
    background-size: contain;
    margin: 10px auto;
}
#status_tab_container
{
    height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
}


.modal-header 
{
	    padding-top: 5px;
    padding-bottom: 5px;
    background: #124763;
    color: white;
}

.modal-title
{
	font-size:16px;
	font-weight:400;
}

.modal-body
{
	font-size:12px;
	font-weight:400;
}

#buttonOption
{
	margin-top: -140px;
    margin-left: 65px;
}

#myModal .modal-dialog
{
	 width: 274px;
}

#newModal .modal-header
{
	 width: 550px;
}

#networktype
{
	width: 60px;
	height: 22px;
}

#timeout
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#validity
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#selftimeout
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}

#selfvalidity
{
	width: 120px;
	height: 22px;
	border-radius: 5px;
}


#applybutton
{
	width: 52px;
	height: 25px;
}

#add_node_form
{
	margin : 0px;
}

.btn-info {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}

.btn-info1 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}

.btn-info2 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
    font-size: 1 rem;
    padding-top: 0rem;
    padding-left: 0.5rem;
    padding-bottom: 0rem;
    padding-right: 0.5rem;
}

.btn-info3 {
    color: #fff;
    background-color: #244762;
    border-color: #244762;
}


#def_container
{
	    padding: 10px;
}

#def_container button
{
	width: 109px;
}

.ON
{
	background:black;
}

.OFF
{
	background:grey;
	color:black;
}
.START_TIME
{
	background:black;
	color:white;
}

.modal-dialog1 {
	max-width: 800px;
}

.modal-dialog2 {
	max-width: 550px;
}

.table1{
	width : 100%;
}

.font{
	font-family:arial;
	font-weight:bold;
}
body {
	line-height: 1.4;
}

fieldset {
	/*border: 0*/
}

legend {
	/*width: 100%;*/
	margin-bottom: .2rem;
	font-size: 14px;
}

.table td, .table th {
	/*padding: .58rem;*/
}

.color_table td, .color_table th {
	padding: .28rem;
}

.btn1 {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn2 {
	display: inline-block;
	font-weight: 400;
	height: 28px;
    width: 70px;
    margin-top: -5px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn3 {
	display: inline-block;
	font-weight: 400;
	text-align: center;
    margin-left: 710px;
    margin-top: 5px;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
	
.ui-jqgrid tr.ui-row-ltr td,th 
{
   font-size: 12px;
   text-align:center;	
}

.ui-jqgrid,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager,
.ui-jqgrid .ui-pg-input {
    font-size: 12px;
}
	
.auto_mode 
{
	background:red;	
}

.unsortable 
{
    background: #c7c5c5;
    opacity:.5;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background: #e1e4e6;
}

.custom-control-label::before
{
	border: 1px solid #aed0ea;
}

.hideTrClass
{
	display: none;
}

.TdClass
{
	padding: .4rem;
}

.labelClass{
	width: 32%;
}

.textClass{
	display: inline-block;
	width: 30%;
}

#targetValue{
display: inline-block;
width: 30%;
}
#Pr_text
{
	width:40px;
}


#action_table td
{
	padding:5px;
}

#action_table th
{
	padding:5px;
}

#action_table td button
{
	padding: 3px;
    font-size: 13px;
    min-width: 55px;
}

#fault-table
{
	font-size:11px;
}

/*#bms_modal_status_table
{
	min-width: 666px;
	width:100%;
}

#bms_modal_status_table tbody
{
	
	width:100%;
}*/

.tiltRollLabels
{
	font-size: 19px;
}
.upButton{
	margin-left: 41%;
}
.downButton{
	margin-left: 41%;
}
.leftButton_RightButton{
	margin-left: 14%;
    margin-bottom: 1%;
    margin-top: 1%;
}

//EDITED BY VAIBHAV CHHABRA VNL1424
.rightButton{
	margin-left: 44%;

}
.wrapper1{
	display:grid;
	grid-template-column:50% 50%;
}
.allButtonsize
{
	font-size: 53px;
}

.right-bottom{
	position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(63,255,106,0.69);
}