html
{
	width:100%
}
#message_box {
	width: 97%;
	}
#tab_container
 	{
 		width:100%;
 	}
 		.card {
    	/* Add shadows to create the "card" effect */
    		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    		transition: 0.3s;
    		width:212px;
    		float:left;
    		margin: 0 auto 10px 10px;
    		color:white;
		}

		/* On mouse-over, add a deeper shadow */
		.card:hover {
		    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

		/* Add some padding inside the card container */
		.card .container {
		    padding: 2px 16px;
		}
		.up_sufi
		{
			background:#CDDC39;
			color:white;
			
		}
		.down_sufi
		{
			background:#F44336;
			color:white;
			
		}
		.total_sufi
		{
			background:#00BCD4;
			color:white;
			
		}
		
		#left_box {
     width: 60%;
     background-color: white;
     padding: 0;
     margin: 0;
     display: block;
     border: 1px solid white;
    
         margin: 0 auto;
}

#right_box {
     width: 49%px;
     background-color: #777;
     display: block;
     float: left;
     border: 1px solid white;
}

.tab_com {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto 10px 10px;width:100%;text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tab_com th, td {
    text-align: left;
    padding: 8px;
}

.tab_com tr:nth-child(even){background-color: #f2f2f2}

.tab_com th {
    /*background-color: #4CAF50;*/
    color: white;
}
.tab_com thead {
    background-color: #3a5795;
    color: white;
}



/*********mrinalini*******/
.intra input{
	width: 50px;
}

#cell_info tbody{
	width: 380px;

}

#myPopup{
display:none;
 } 
 
 /*#showpopup{
display:none;
}*/

#G-3{
display:none;
}

#G2_mobile_loc{
display:none;
}

#G2_geo_loc{
display:none;
}

#grp_name{
display:none;	
}

#G3_net_scan{
display:none;	
}

/*********mrinalini*******/
/*********mrinalini*******/