 html
 {
 	/*height:95%*/;
 	/*width:1350px;
 	height:600px;
 	margin: 0 auto;*/
 	font-family:arial;
	font-size:15px	
 }
/* body
 {
 	height:100%;
 	background: #E9EAED;
 }*/
 #nav table
 {
 	color:white;
 	    margin-left: 40px;
    /* display: table; */
    height: 50px;
 
 }
 #nav table td
 {
 	min-width:80px;
 
 }
 #nav 
 {
 	color:white;
 	background: #3a5795;
 	height:50px;
 }
 
 #nav table a
 {
 
    color: white;
    text-decoration: underline;
    }
    
#message_box
{
	display:table;
	margin:0 auto;
	background: white;
    padding: 10px 10px 10px 10px;
    width:100%;
    height:100%;	
}

#table_div
{
	float: left;
    width: 48%;
}
#map_div
{
	float: right;
    width: 48%;
   
    height: 466px;
    margin-right: 3px;
    margin-top: 8px;
    border: 3px solid #3a5795;
    border-radius: 5px;
}
#neigh_form
{
	overflow: auto;    
}

#neigh_form
{
	text-align:center;
    font-size:16px
}
#neigh_form tr:first-child
{
	font-weight:bold;
}
.makeStrong
{
font-weight:bold;	
}

#table_div table	
{
	text-align:center;
	width:100%;
	
}
#table_div table tr:first-child	
{
	font-weight:bold;	
}

#table_div table tr td:first-child
{
	font-weight:bold;
}
  
 
  
  
  .btn-match
  {
  	background-color: #3a5795;
    color: white;
    border-radius: 5px;
    padding: 4px;
    margin-right: 3px;
    margin-left: 3px;
    border-color: #4365af;
        cursor: pointer;
  }  
  
  .btn-match:hover
  {
  background-color: #4365af;
  }
  
  #nav table a:hover
  {
  	color:#9e9e9e
  }
  .hide_box
  {
  	display:none;
  }
  
  
  .dropbtn {
    /*background-color: #4CAF50;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    background-color: #4365af;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
	background-color: #4365af;
	}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}
  
  
  /*#cellinfoBody tr:nth-child(odd){ background-color:#eee; }
  #cellinfoBody tr:nth-child(even){ background-color:#fff !important; }*/