<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Admin</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/themify-icons.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<!--<link rel="stylesheet" th:href="@{css/lib/font-awesome.min.css}">-->
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />

<style>
 		.boxes {
    		transition: 0.3s;
    		float:left;
    		margin: 0 auto 10px 10px;
    		color:white;
		}
		
#leftTree{
background-color: white;
    height: 640px;
    overflow: auto;
    position: absolute;
    display: block;
    visibility: visible;
}
#leftTree li[rel="1stLevel"] a{
color:black;
}
#leftTree li[rel="2ndLevel"] a{
color:red;
}
#leftTree li[rel="3rdLevel"] a{
color:green;
}
#leftTree li[rel="4thLevel"] a{
color:blue;
}

.threecards1> div{
  //background:#29B5BA;
  //padding:1em;
  margin:5%;
  grid-column-gap:12%
}

</style>
<style>
#myAddPopup{
  background:white;
  width:450px;
  border-radius:6px;
  margin: 80px auto 0;
  padding:0px 0px 10px 0px;
  border: 1px solid grey; 
}

input{
  background:#ecf0f1;
  border-radius:4px;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
  border-bottom: #ccc 2px solid;
  color:black;
  margin-top:0px; 
}

label{
margin-left: 10px;
}

/*.btn{
  background:#3498db;
    /* width: 125px; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    float: left;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}*/

.btn:hover{
  background:#3594D2;  
}

#adminMenu{
font-weight:900;
text-decoration:underline;
}

.main-panel {
    
    width: 100%;
}


.navbar {
    margin-bottom: 0px;
}
.logo
{
	display:none;
}

html
{
	overflow-x:auto;	
}
    
.btn-file{
	display:inline; 
	margin-left: 30px;
	width: 270px;
}

input[type=file]{
display: inline;
}

.backupButton{
 width: 100px;
}

#admin{
	color: #fff;
}

.reload2
{
	//height:1000px;
	margin-left:24%;
	//background-color: coral;
}

.falogo1
{
	//font-size:89px;
	font-size:25px;
	color: white;
}


.cardimagebackground1
{
	//height:261px;
	height:70px;
}

</style>
</head>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
   
    /* var remoteAddr = '<%=request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort()+ request.getContextPath()%>'; */
</script>

<body>

<div id="header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0.2rem 1rem;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="dashboard" id="dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="operation" id="operation">Operation</a>
	  <a class="nav-item nav-link" href="admin" id="admin">Admin <span class="sr-only">(current)</span></a>
    </div>
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0 logout"><a href="logout">Logout</a></button>
  <p style="color : #70a2bb;">v1.0.4</p>
</nav>

<div class="main-panel">
<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Nodes
                </a>
            </div>
            <div id="reportTreeContainer"><div id="leftReportTree" style="min-width: 220px;"></div></div>
    	</div>
    </div>      

<div id="reload" style="margin-left:101px;">
	   <div id="myAddPopup" style="min-width: 250px;clear: left;">
		<div id="hiddenApplicationId" style="display: none;"></div>	   
	<br><br>	    
			  
			  <div id="changePasswordDiv">			 
			   <table>
			   <tr>
			   <td colspan="4"><h4 align="center" id="uploadType" style="margin-top: -15px;margin-left: 30px;">Change Password</h4></td>
			   </tr>
			   <tr>
			   <td><label>User</label></td>
			   <td colspan="3">
                <select id="userDataSelect">
				</select>
				</td>
			   </tr>
			   <tr>
			   <td><label>New Password</label></td>
			   <td colspan="3">
				<input type="password" id="newAdminPassword" />
				</td>
			   </tr>
			   	<tr>
			   <td><label>Confirm Password</label></td>
			   <td colspan="3">
				<input type="password" id="confirmAdminPassword" />
				</td>
			   </tr>
			   	<tr>
				<td colspan="2">
				</td>
			   <td colspan="2">
				<input type="button" id="changePasswordButton" value="Change" />
				</td>
			   </tr>					  
			 </table>
              </div> 
			  
			  <div id="backupPurgeDiv" style="display: none;">			 
			   <table>
			   <tr>
			   <td colspan="4"><h4 align="center" id="operationType" style="margin-top: -15px;"></h4></td>
			   </tr>
                 <tr> 
			      <td colspan="2"><label>Start Time:</label></td>
			      <td colspan="2"><input class="dateSelect" type="text" id="startTime"></input></td> 
			     </tr>
		         <tr>  
			      <td colspan="2"><label>End Time:</label></td>
			      <td colspan="2"><input class="dateSelect"  type="text" id="endTime"></input></td>
			     </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="downloadReport" value="Download" class="btn-default">Backup</button><button style="width: 120px;" type="button" id="purgeData" class="btn-default">Purge</button></td>				  
				  </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="resetAll" value="resetAll" class="btn-default">Reset All</button><button style="width: 120px;" type="button" id="downloadDb" class="btn-default">Backup DataBase</button></td>				  
				  </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="factoryReset" value="factoryReset" class="btn-default">Factory Reset Configuration</button><button style="width: 120px;" type="button" id="downloadSysLog" class="btn-default">System Logs</button></td>				  
				  </tr>					 
			 </table>
              </div> 
			  
			   <div id="backupHistoryDiv"  style="display: none;">			 
			   <table class="table table-default report_tables">
			   <thead>
			   <tr>
			   <td colspan="3"><h4 align="center" id="uploadType" style="margin-top: -15px;margin-left: 30px;">Backup History</h4></td>
			   </tr>
			   <tr>
			   <td>File</td>
			   <td>Download</td>
			   <td>Delete</td>
			   </tr>
			   </thead>
			   <tbody id="backupHistoryTableTbody">
			   </tbody>					  
			 </table>
              </div>
			  <div id="loadingBox" style="display: none;text-align:center;">
				<img src="../../images/Loading_icon.gif"  style="margin-left: 0px;margin-top: -40px;width: 100%;" />	
			  </div>			  
	  </div> 
	</div>
</body>
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
<link th:href="@{css/index.css}" rel="stylesheet" />
<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/reports.css}" rel="stylesheet" />
<script th:src="@{js/lib/jstree/jquery.jstree.js}"></script>
<script th:src="@{js/lib/jquery-ui-timepicker-addon.js}"></script>
<script th:src="@{js/urls.js}"></script>
<script th:src="@{js/admin.js}"></script>


</html>