<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Admin</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/themify-icons.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<link th:href="@{css/admin.css}" rel="stylesheet" />
<!--<link rel="stylesheet" th:href="@{css/lib/font-awesome.min.css}">-->
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />

<style>
 		.boxes {
    		transition: 0.3s;
    		float:left;
    		margin: 0 auto 10px 10px;
    		color:white;
		}
		
#leftTree{
background-color: white;
    height: 640px;
    overflow: auto;
    position: absolute;
    display: block;
    visibility: visible;
}
#leftTree li[rel="1stLevel"] a{
color:black;
}
#leftTree li[rel="2ndLevel"] a{
color:red;
}
#leftTree li[rel="3rdLevel"] a{
color:green;
}
#leftTree li[rel="4thLevel"] a{
color:blue;
}

.threecards1> div{
  //background:#29B5BA;
  //padding:1em;
  //margin:5%;
  grid-column-gap:12%
}

</style>
<style>
#myAddPopup{
  background:white;
  width:450px;
  border-radius:6px;
  margin: 80px auto 0;
  padding:0px 0px 10px 0px;
  border: 1px solid grey; 
}

input{
  background:#ecf0f1;
  border-radius:4px;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
  border-bottom: #ccc 2px solid;
  color:black;
  margin-top:0px; 
}

label{
margin-left: 10px;
}

/*.btn{
  background:#3498db;
    /* width: 125px; */
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    float: left;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;
}*/

.btn:hover{
  background:#3594D2;  
}

#adminMenu{
font-weight:900;
text-decoration:underline;
}

.main-panel {
    
    width: 100%;
}


.navbar {
    margin-bottom: 0px;
}
.logo
{
	display:none;
}

html
{
	overflow-x:auto;	
}
    
.btn-file{
	display:inline; 
	margin-left: 30px;
	width: 270px;
}

input[type=file]{
display: inline;
}

.backupButton{
 width: 100px;
}

#admin{
	color: #fff;
}

.reload2
{
	//height:1000px;
	margin-left:20%;
	//background-color: coral;
}

.falogo1
{
	//font-size:89px;
	font-size:25px;
	color: white;
}

.right-bottom{
	position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(63,255,106,0.69);
}

.cardimagebackground1
{
	//height:261px;
	height:70px;
}

.centered3 {
	  position: absolute;
	  top: 50%;
	  left: 40%;
	  transform: translate(-50%, -50%);
}

table#backHistory td, table#backHistory th {
    border: 1px solid black;
}
</style>
</head>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
   
    /* var remoteAddr = '<%=request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort()+ request.getContextPath()%>'; */
</script>

<body>

<div id="header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0.2rem 1rem;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="dashboard" id="dashboard">Dashboard</a>
      <a class="nav-item nav-link" href="operation" id="operation">Operation</a>
	  <a class="nav-item nav-link" href="admin" id="admin">Admin <span class="sr-only">(current)</span></a>
	  <a target="_blank" rel="noopener noreferrer" class="nav-item nav-link" href="faq" id="faq">FAQ</a>
	    <div> <p style="color : #343a40;" id="sysovrload">System Overload</p></div>
    </div>
   
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0 logout"><a href="logout">Logout</a></button>
  <p style="color : #70a2bb;">v1.0.13</p>
</nav>
</div>

<div class="main-panel">
<div class="sidebar" data-background-color="white" data-active-color="danger" style="height: 14%;width: 20%;">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Nodes
                </a>
            </div>
            <div id="reportTreeContainer"><div id="leftReportTree" style="min-width: 220px;"></div></div>
    	</div>
    </div>      

<div id="reload" class="reload2"><!--style="margin-left:101px;">-->
	   <!--<div id="myAddPopup" style="min-width: 250px;clear: left;">-->
		<div id="hiddenApplicationId"></div>	   
	<br><br>	    
			  
			  <div id="changePasswordDiv">
			  
			   <div class="card" style="width: 75%;">
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">
					  <i class="centered3 undologo fa  falogo1 card-img-top  fa-key " style="font-size:21px;"></i>
					  <div class="centered ">Change Password</div>
					  
					</div>
					<div class="card-body" style="padding:0.2px; height: 348px ;">
					  <br><br>
				    <table align="center">
					   <tr>
					   <td><label>User</label></td>
					   <td colspan="3">
		                <select id="userDataSelect">
						</select>
						</td>
					   </tr>
					   <tr>
					   <td><label>New Password</label></td>
					   <td colspan="3">
						<input type="password" id="newAdminPassword" />
						</td>
					   </tr>
					   	<tr>
					   <td><label>Confirm Password</label></td>
					   <td colspan="3">
						<input type="password" id="confirmAdminPassword" />
						</td>
					   </tr>
					   	<tr>
						<td colspan="2">
						</td>
					   <td colspan="2">
						<input type="button" id="changePasswordButton" value="Change" />
						</td>
					   </tr>				 
					 </table>
				    </div>
				  </div>
			   </div>			 
			   <!--<table>
			   <tr>
			   <td colspan="4"><h4 align="center" id="uploadType" style="margin-top: -15px;margin-left: 30px;">Change Password</h4></td>
			   </tr>
			   <tr>
			   <td><label>User</label></td>
			   <td colspan="3">
                <select id="userDataSelect">
				</select>
				</td>
			   </tr>
			   <tr>
			   <td><label>New Password</label></td>
			   <td colspan="3">
				<input type="password" id="newAdminPassword" />
				</td>
			   </tr>
			   	<tr>
			   <td><label>Confirm Password</label></td>
			   <td colspan="3">
				<input type="password" id="confirmAdminPassword" />
				</td>
			   </tr>
			   	<tr>
				<td colspan="2">
				</td>
			   <td colspan="2">
				<input type="button" id="changePasswordButton" value="Change" />
				</td>
			   </tr>					  
			 </table>
              </div> -->
			  
			  <div id="backupPurgeDiv" style="display: none;">
			  <div class="threecards1">
			  
				  <div class="card" style="width: 20rem;	">
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">
					 <i class="centered2 undologo fa  falogo1 card-img-top  fa-undo " style="font-size:21px;"></i>
					  <div class="centered ">Reports</div>
					</div>
					<div class="card-body" style="padding:0.2px; height: 348px ;">
					  <br/>
				    <table >
					   <tr>
					   <td colspan="3"></td>
					   </tr>
			                <tr> 
					      <td colspan="1"  ><label >Start Time:</label></td>
					      <td colspan="1"><input class="dateSelect" style="width:218px;" type="text" id="startTime"></input></td> 
					     </tr>
				         <tr>  
					      <td colspan="1"><label >End Time:</label></td>
					      <td colspan="1"><input class="dateSelect" style="width:218px;" type="text" id="endTime"></input></td>
					     </tr>
						  <tr>
						 				  
						  <td colspan="2"><button style="width: 100%;" type="button" id="downloadReport" value="Download" class="btn-default btn-md btn-block">Generate Report</button></td>
						  </tr>
						  <!--<tr>
						  <td colspan="2"><button style="width: 100%;" type="button" id="purgeData" class="btn-default btn btn-default btn-md btn-block">Reset</button></td>
	
						  </tr>-->	 
					 </table>
				    </div>
				  </div>
			      	
			      <div class="card" style="width: 20rem;">
					<style>
					
					.container2 {
					  position: relative;
					  text-align: center;
					  color: white;
					}
					.centered2 {
					  position: absolute;
					  top: 50%;
					  left: 20%;
					  transform: translate(-50%, -50%);
					}
					
					.centered {
					  position: absolute;
					  top: 50%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					}
					</style>
					
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">  
					  <i class="centered2 undologo fa  falogo1 card-img-top fa-trash   " style="font-size:21px;"></i>
					  <div class="centered ">Data Reset</div>	  
					</div>
					
					<div class="card-body" style="padding:0.2px; height: 348px ;">
					 <br><br>
					 <h5 class="card-title" align="center" style="color:black;">Type:</h5>
					    
					 <div class="div-reset-all" style="height: 17%;">
					
						<table >
							<tr>
								  
							 <td colspan="2"><select id="eventDataType" class="dateSelect"  >
							 <option value="select" selected>select</option>
							 <option value="all">All</option>
							 <option value="data_events">Events and Alarm Data</option>
							 <option value="audit_logs">Audit Logs</option>
							 </select></td> 
							</tr>
						<tr>
						
						<td colspan="2"><button type="button" style="width: 250px;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="resetAll">Data Reset</button></td>
						<!--<buton  type="button" id="resetAll" class="btn-default btn-md btn-block" style="width: 250px;">Data Reset</button></td>-->
						
							
						</tr>
						</table>

						</div> 
					  </div>
					</div>
					
					<div class="card" style="width: 20rem;" >
						<div class="container2">
				  			<img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">
				 		 	<i class="centered2 undologo fa  falogo1 card-img-top  fa-undo " style="font-size:21px;"></i>
						  <div class="centered ">Backup and Logs</div>
						</div>
		
						<div class="card-body" style="padding:0.2px; height: 348px ;">
		 					<div class="div-reset-all" style="height: 17%;">
								 <br><br>
								<button type="button" style="width: 90%;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="downloadDb">Full Backup</button>
								<br/><br>
								<button type="button" style="width: 90%;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="downloadSysLog">System Logs</button>
								<br/><br> 	
								<button type="button" style="width: 90%;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="factoryReset">Factory Configuration Reset</button>
								<br><br><br><br>
							</div>
		  				</div>
					</div>
				</div>       
     		</div>		 
			   <!--<table>
			   <tr>
			   <td colspan="4"><h4 align="center" id="operationType" style="margin-top: -15px;"></h4></td>
			   </tr>
                 <tr> 
			      <td colspan="2"><label>Start Time:</label></td>
			      <td colspan="2"><input class="dateSelect" type="text" id="startTime"></input></td> 
			     </tr>
		         <tr>  
			      <td colspan="2"><label>End Time:</label></td>
			      <td colspan="2"><input class="dateSelect"  type="text" id="endTime"></input></td>
			     </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="downloadReport" value="Download" class="btn-default">Backup</button><button style="width: 120px;" type="button" id="purgeData" class="btn-default">Purge</button></td>				  
				  </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="resetAll" value="resetAll" class="btn-default">Reset All</button><button style="width: 120px;" type="button" id="downloadDb" class="btn-default">Backup DataBase</button></td>				  
				  </tr>
				  <tr>
				  <td colspan="3"></td>				  
				  <td><button style="width: 120px;margin-right: 10px;" type="button" id="factoryReset" value="factoryReset" class="btn-default">Factory Reset Configuration</button><button style="width: 120px;" type="button" id="downloadSysLog" class="btn-default">System Logs</button></td>				  
				  </tr>					 
			 </table>
              </div> -->
			  
			   <div id="backupHistoryDiv"  style="display: none;">
			       <div class="card" style="width: 90%;">
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">
					  <i class="centered3 undologo fa  falogo1 card-img-top  fa-history " style="font-size:21px;"></i>
					  <div class="centered ">Backup History</div>
					  
					</div>
					<div class="card-body" style="padding:0px;">
					    <table class="table table-default report_tables" style="margin-bottom:0rem;" id="backHistory">
						   <thead style="background: darkgray;">
							   <tr>
							   <td>File</td>
							   <td>Download</td>
							   <td>Delete</td>
							   </tr>
						   </thead>
						   <tbody id="backupHistoryTableTbody">
						   </tbody>					  
					   </table>
				    </div>
				  </div>			 
              </div>	

			<div id="configDeployment" style="display: none;">
				<table id="configDeployDiv"></table>
					<div id="configDeployDivPager" style="text-align: center;"></div>
			</div>

	

			  
              <div id="profileConfigure" style="display: none;">
			  <div class="threecards1">
			  
				  <div class="card" style="width: 20rem;	">
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">
					 <i class="centered2 undologo fa  falogo1 card-img-top  fa-save " style="font-size:21px;"></i>
					  <div class="centered ">
					  		Save Configuration	  
					  </div>
					</div>
					<div class="card-body" style="padding:0.2px; height: 348px ;">
					  <br/>
				    <table >
					   <tr>
					   <td colspan="3"></td>
					   </tr>
			                <tr> 
					      <td colspan="1"  ><label >Profile :</label></td>
					      <td colspan="1"><input style="width:200px;" type="text" id="saveProfileName"></input></td> 
					     </tr>
						  <tr>		  
						  <td colspan="2"><button style="width: 100%;padding: 2%" type="button" id="saveProfile" value="save" class="btn-default btn-md btn-block">Save Configuration</button></td>
						  </tr>				 
					 </table>
				    </div>
				  </div>
			      	
			      <div class="card" style="width: 20rem;">
					<style>
					
					.container2 {
					  position: relative;
					  text-align: center;
					  color: white;
					}
					.centered2 {
					  position: absolute;
					  top: 50%;
					  left: 20%;
					  transform: translate(-50%, -50%);
					}
					
					.centered {
					  position: absolute;
					  top: 50%;
					  left: 50%;
					  transform: translate(-50%, -50%);
					}
					</style>
					
					<div class="container2">
					  <img src="../images/imageforboxes_black.png" class="card-img-top cardimagebackground1" alt="Snow" style="width:100%;">  
					  <i class="centered2 undologo fa  falogo1 card-img-top fa-trash   " style="font-size:21px;"></i>
					  <div class="centered ">Configuration</div>	  
					</div>
					
					<div class="card-body" style="padding:-0.8px; height: 348px ;">
					 <br><br>
					 <h5 class="card-title" align="center" style="color:black;">Profiles :</h5>
					    
					 <div class="div-reset-all" style="height: 17%;">
					
						<table >
							<tr>
								  
							 <td colspan="2">
							 <select id="profileSelect">
							 
							 </select></td> 
							</tr>
						<tr>
						<td colspan="2"><button type="button" style="width: 250px;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="showProfile">Show Configuration</button></td>
						<!--<buton  type="button" id="showProfile" class="btn-default btn btn-default btn-md btn-block" style="width: 250px;">Show Configuration</button></td>-->
						</tr>
						<tr>
						<td colspan="2"><button type="button" style="width: 250px;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="applyProfile">Apply Configuration</button></td>
						<!--<buton  type="button" id="applyProfile" class="btn-default btn btn-default btn-md btn-block" style="width: 250px;">Apply Configuration</button></td>-->
						</tr>
						<tr>
						<td colspan="2"><button type="button" style="width: 250px;margin: 3%;padding: 2%;" class="btn-default btn-md btn-block " id="deleteProfile">Delete Configuration</button></td>
						<!--<buton  type="button" id="deleteProfile" class="btn-default btn btn-default btn-md btn-block" style="width: 250px;">Delete Configuration</button></td>-->
						</tr>
						</table>

						</div> 
					  </div>
					</div>
				</div>       
     		</div>		  
	  </div> 
	  <div id="loadingBox" style="display: none;text-align:center;">
	      <img src="../../images/Loading_icon.gif"  style="margin-left: 0px;margin-top: 20px;width: 40%;" />	
	  </div>
	  
  		<div class="modal" id="profile_data" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: fit-content;">
				<div class="modal-header">
					<h4 class="modal-title">Show Profile Configuration</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<!--  <h4 class="modal-title" id="myModalLabel">System Nodes Info</h4>-->
				</div>
				<div class="modal-body">
					<table border=2 id="config_data_table" class="table table-default table-bordered table-text-align">
						<thead style="background: darkgray;">
							<tr>
							  <th scope="col">Start Freq</th>
							  <th scope="col">Stop Freq</th>
							  <th scope="col">Threshold</th>
							  <th scope="col">Cable Length</th>
							  <th scope="col">GSM</th>
							  <th scope="col">WCDMA</th>
							  <th scope="col">Wifi</th>
							  <th scope="col">LTE</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<br>
					<table border=2 id="system_data_table" class="table table-default table-bordered table-text-align">
						<thead style="background: darkgray;">
							<tr>
							  <th scope="col">Manual Override</th>
							  <th scope="col">Falcon</th>
							  <th scope="col">Auto</th>
							  <th scope="col">Timeout</th>
							  <th scope="col">Validity</th>
							  <th scope="col">Self Timeout</th>
							  <th scope="col">Self Validity</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<br>
					<table border=2 id="masking_data_table" class="table table-default table-bordered table-text-align">
						<thead style="background: darkgray;">
							<tr>
							  <th scope="col">Frequency</th>
							  <th scope="col">Bandwidth</th>
							  <th scope="col">Type</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<br>
					<table border=2 id="emitter_data_table" class="table table-default table-bordered table-text-align">
						<thead style="background: darkgray;">
							<tr>
							  <th scope="col">Start Freq</th>
							  <th scope="col">Stop Freq</th>
							  <th scope="col">Network Type</th>
							  <th scope="col">DEPL</th>
							  <th scope="col">EPR</th>
							  <th scope="col">Modulation</th>
							  <th scope="col">Color</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<!--<img width=100% id="status_loading" src="../../resources/images/Loading_icon.gif" style="display:none;"></img>-->
				</div>
			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
    
	</div>
	<input type="hidden" id="user" th:value="${user}" />
</body>
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
<link th:href="@{css/index.css}" rel="stylesheet" />
<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/reports.css}" rel="stylesheet" />

<script th:src="@{js/lib/sockjs.min.js}"></script>
<script th:src="@{js/lib/stomp.min.js}"></script>
<script th:src="@{js/lib/jqgrid/grid.locale-en.js}"></script>
<script th:src="@{js/lib/jquery/jquery.jqGrid.min.js}"></script>
<script th:src="@{js/lib/jstree/jquery.jstree.js}"></script>
<script th:src="@{js/lib/jquery-ui-timepicker-addon.js}"></script>
<script th:src="@{js/urls.js}"></script>
<script th:src="@{js/admin.js}"></script>
<script th:src="@{js/lib/bootstrap.min.js}"></script>
<script th:src="@{js/lib/sweetalert.min.js}"></script>
<script th:src="@{js/lib/sockjs.min.js}"></script>
<script th:src="@{js/lib/stomp.min.js}"></script>

<style>
	.div-reset-all{
		//border-top: 0.5px groove black;
    	//height: 10%;
	}
	
	.div-factory_reset{
		//border-top: 0.5px groove black;
    	height: 10%;
	}

	.btn-reset-all{
	    margin-top: 5%;
    	width: 56%;
    	margin-left: 24%;
    }
</style>


</html>