<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Hummer Dashboard</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/lib/fullscreen.js}"></script>

<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<link th:href="@{css/dashboard.css}" rel="stylesheet" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
</head>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
  
</script>


<body>
	<div id="header"></div>
	
	<div class=".container-fluid h-100_custom">
		<div class="row h-50 cont_row">
			<div class="col-7">
				<div id="map_leaf" class="box_border"></div>
			</div>
			<div class="col-5">
				<div class="row h-100">
					<div class="col-12">
						<div class="row h-50" id="alarm_div">
							<div class="col-12 box_border">
							<div class="box_title">Alarm<span class="head-right fullscreen"><i class="fa fa-window-maximize" aria-hidden="true"></i></span></div>
							<div class="table_cont">
								<table class="table e_tab table-striped table-bordered" id="bl_table">
								  <thead>
									<tr>
										<th scope="col">Date</th>
										<th>Time</th>
										<th scope="col">Trigger</th>
										<th scope="col">Freq(MHz)</th>
										<th scope="col">Direction</th>
										<th scope="col">Range(m)</th>
										<th scope="col">Max Rx Level(dBm)</th>
										<th scope="col">Emitter Power(dBm)</th>
										<th scope="col">Duration(s)</th>
										<th scope="col">DF Samples</th>
										<th scope="col">Bandwidth</th>
										<th scope="col">Cue Id</th>
										
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>
							</div>
						</div>
						
						
		
		
		
						<div class="tab row h-50" id="event_div">
							<div class="col-12  box_border">
							<div class="box_title">
								<button class="tablinks box_title evnt_button active" onclick="loadEvents()">Events</button><span class="head-right fullscreen"><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
  								<button class="tablinks box_title evnt_button" onclick="createOldPeakDataGrid()">Offline Events<i class="fas fa-sync" aria-hidden="true"></i></button>
  								
  								<span id="showFrequencyFilter" style="float:right;"><a href="javascript:showFrequencyFilter();">Frequency Filter</a></span>
								<span id="bandwidthValue" style="float:right;"></span>
								<span id="bandwidthTab" style="float:right;"> Bandwidth :</span>
								<span id="frequencyValue" style="float:right;"></span>
								<span id="frequencyTab" style="float:right;"> Freq :</span>
								<span id="lastOtRecords" style="float:right;"> Display Last 1000 Records</span>
							</div>
							
							<div  id="currPeakDiv" class="table_cont">
								<table class="table e_tab table-striped table-bordered" id="el_table">
								  <thead>
									<tr>
										<th scope="col">Date</th>
										<th>Time</th>
										<th scope="col">Freq(MHz)</th>
										<th scope="col">Direction</th>
										<th scope="col">Rx Level</th>
										<th scope="col">Sector</th>
										<th scope="col">Type</th>
										<th scope="col">Emitter Type</th>
										<!-- <th scope="col">Maximize</th> -->
										
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>
							
							  <div  class="tab row h-50" id="oldPeakDiv" style="display: none;">
								<table id="oldPeakDataDiv"></table>
								<div id="oldPeakDataPager" style="text-align: center;"></div>
							</div>
							
							</div>
						</div>
					
							
							
							
						<!-- <div class="row h-50" id="event_div">
							<div class="col-12  box_border">
							<div class="box_title">Events<span class="head-right fullscreen"><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
							<span id="oldEvents" onselect="showOldEvents()">Old Events</span>
							<span style="float:right;"><a href="javascript:showFrequencyFilter();">Frequency Filter</a></span>
							<span id="bandwidthValue" style="float:right;"></span>
							<span style="float:right;"> Bandwidth :</span>
							<span id="frequencyValue" style="float:right;"></span>
							<span style="float:right;">Frequency :</span>
							</div>
							<div class="table_cont">
								<table class="table e_tab table-striped table-bordered" id="el_table">
								  <thead>
									<tr>
										<th scope="col">Date</th>
										<th>Time</th>
										<th scope="col">Freq(MHz)</th>
										<th scope="col">Direction</th>
										<th scope="col">Rx Level</th>
										<th scope="col">Sector</th>
										<th scope="col">Type</th>
										<th scope="col">Emitter Type</th>
										<th scope="col">Maximize</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>					
							</div>
						</div> -->
						 
							
					</div>		
				</div>		
			</div>
		</div>
		<div class="row h-50 cont_row">
			<div class="col-5 box_border" id="graph_div">
				<div class="box_title">Graph
					<span class="head-right fullscreen"><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
					<span style="float:right;"><a href="javascript:showPowerFilter();">Filter</a></span>
					<div style="float:right;margin-right:1%;">
					<button type="button" id="show_graph" class="btn btn-info2" style="line-height: normal;display:none;" 
						 onclick="graphView()">Hide</button>
					</div>
				</div>
				<div class="table_cont">
					<div>
						<canvas height="100%" id="canvas"></canvas>
						<div id="spectrogram">
							<canvas height="100%" id="canvas1"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5" id="cue_div">
				<div class="box_border">
					<!--<p style="margin-bottom:0rem;">Note: Reference Power 1W</p>-->
					<table class="table myTable" style="margin-bottom:0rem;">
						<tbody>
							<tr>
								<td><small>Frequency (Mhz)</small></td>
								<td><input type="text" id="current_frequency_df"
									class="form-control" readonly="readonly"></td>
								<td id=""><small>Current Angle</small></td>
								<td><input type="text" class="form-control"
									id="current_angle_df"></td>
								<td><button class="btn btn-info" id="maximize_button" data-toggle="modal"
										data-target="#def_modal">Maximize</button></td>
								<td><button type="button" class="btn btn-danger"
										onclick="stopDef()">Stop</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box_title">Event Cue<span class="head-right fullscreen"><i class="fa fa-window-maximize" aria-hidden="true"></i></span></div>
					<div class="table_cont1 box_border">
						<table class="table e_tab table-striped table-bordered" id="cue_table">
						  <thead>
							<tr>
							  <th scope="col">TIME</th>
							  <th scope="col">Trigger Source</th>
							  <th scope="col">Type</th>
							  <th scope="col">Detail</th>
							</tr>
						  </thead>
						  <tbody>
							
						  </tbody>
						</table>
					</div>	
			</div>
			<div class="col-2 box_border" id="status_div">
				<div class="box_title">Status</div>
					<div class="table_cont">
					<table class="table e_tab fixed_header" id="sl_table">
					  <thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">IP</th>
							<th scope="col">Status</th>
						</tr>
					  </thead>
					  <tbody>
						
					  </tbody>
					</table>
					</div>
			</div>
		</div>

		<div class="modal" id="def_modal" style="z-index: 999999;">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Maximize</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form">
							<label>Antenna Rotation (0-180)</label><br><label>From</label> <input
								type="number" id="start_angle" class="form-control"
								placeholder="Start Angle" min="0" max="180"/> <label>To</label> <input
								type="number" id="end_angle" class="form-control"
								placeholder="End Angle" min="0" max="180"/> <label>Bandwidth (Mhz)</label>
							<input type="numeric" id="frequency_offset" class="form-control"
								value="0" placeholder="Frequency Offset (MHz)" /> <label>Tilt
								Angle</label> <input type="numeric" id="tilt_angle" class="form-control"
								value="0" placeholder="Tilt Angle" />
						</div>
						<div class="form-group">
							<label>Frequency</label> <input type="numeric" id="def_freq"
								class="form-control" />
						</div>
					 <!-- 	<div class="form-group">
							<label>Antenna Path</label> 
							<select class="form-control" id="switch">
								<option value="select">Select</option>
								<option value="9">Through</option>
								<option value="10">Quadplexer</option>
								<option value="7">Omni V</option>
								<option value="8">Omni H</option>
							</select>
						</div> --> 
						
						<div class="form-group">
							<button class="btn btn-info" id="start_def_button"
								onclick="startDef()">Start</button>
						</div>


					</div>

				</div>
			</div>
		</div>
		
		<div class="modal" id="graph_filter" style="z-index: 999999;">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Graph Power Filter</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form1">
							<label>Max. Power(dBm)</label> <input
								type="number" id="max_power" class="form-control"
								placeholder="Max. Power" /> <label>Min. Power(dBm)</label>
							<input type="number" id="min_power" class="form-control"
								value="0" placeholder="Min. Power" /> 
						</div>

						<div class="form-group">
							<button class="btn btn-info" id="power_set_filter"
								onclick="setPowerFilter()">Set</button>
							<button class="btn btn-info" id="power_reset_filter"
								onclick="powerReset()">Reset</button>
						</div>

					</div>

				</div>
			</div>
		</div>
		
		<div class="modal" id="filter_modal" style="z-index: 999999;">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Frequency Filter</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form1">
							<label>Freqeuncy(MHz)</label> <input
								type="number" id="frequencyFilter" class="form-control"
								placeholder="Frequency" /> <label>Bandwidth(Mhz)</label>
							<input type="number" id="bandwidthFilter" class="form-control"
								value="0" placeholder="Bandwidth(MHz)" />
							<label>Sector</label> 
							<select class="form-control" id="sectorFilter">
								<option value="1">S1</option>
								<option value="2">S2</option>
								<option value="3">S3</option>
								<option value="4">STRU</option>
								<option value="5">ALL</option>
							</select>
						</div>

						<div class="form-group">
							<button class="btn btn-info" id="set_filter_button"
								onclick="setFilter()">Set</button>
							<button class="btn btn-info" id="reset_filter_button"
								onclick="resetFilter()">Reset</button>
						</div>


					</div>

				</div>
			</div>
		</div>
		
		<div class="modal" id="jm_data" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">JM Data</h4>
						<button type="button" class="" id="jmbtn" onclick="getJmData()">Get JM Data</button>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<!--  <h4 class="modal-title" id="myModalLabel">System Nodes Info</h4>-->
					</div>
					<div class="modal-body">
						<table border=1 id="jm_data_table" class="table table-default table-bordered table-text-align">
							<thead>
								<tr>
								  <th scope="col">AntennaId</th>
								  <th scope="col">Time</th>
								  <th scope="col">Roll</th>
								  <th scope="col">Tilt</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
						<!--<img width=100% id="status_loading" src="../../resources/images/Loading_icon.gif" style="display:none;"></img>-->
					</div>
				</div><!-- modal-content -->
			</div><!-- modal-dialog -->
		</div><!-- modal -->
		
	</div>
	
	<div class="row">
	<div class="col-md-12">
	<footer class="fixed-bottom bottom1">
		<table class="table table-bordered status_bar">
			<thead>
			<tr>
				<th>Start Freq<span>(MHz)</span></th>
				<th>Stop freq<span>(MHz)</span></th>
				<th>Power Threshold<span>(dBm)</span></th>
				<th>GSM DL</th>
				<th>WCDMA DL</th>
				<th>LTE</th>
				<th>WiFi</th>
				<!-- <th>Sweep Time</th> -->
				<th>STRU Offset</th>
				<th>Location</th>
				<th>Start Time</th>
				<th>Status</th>
				<th>Fault</th>
			</tr>
			</thead>
			<tbody>

				<tr>
					<td>Operation Mode</td>
					<td>Start Freq<span>(MHz)</span></td>
					<td>Stop freq<span>(MHz)</span></td>
					<td>Power Threshold<span>(dBm)</span></td>
					<td>GSM Downlink</td>
					<td>WCDMA Downlink</td>
					<td>LTE</td>
					<td>WiFi</td>
					<!--  <td>Sweep Time</td>-->
					<td>STRU Offset</td>
					<td>Location</td>
					<td>Start Time</td>
					<th>Status</th>
					<td>Fault</td>
				</tr>

				<tr>
					<td  style="background-color:black"><span id="Opr_mode" class="status_bar"></span></td>
					<td><span id="start_freq_status" class="status_bar"></span></td>
					<td><span id="stop_freq_status" class="status_bar"></span></td>
					<td><span id="threshold_status" class="status_bar"></span></td>
					<td><span id="gsm_status" class="status_bar"></span></td>
					<td><span id="wcdma_status" class="status_bar"></span></td>
					<td><span id="lte_status" class="status_bar"></span></td>
					<td><span id="wifi_status" class="status_bar"></span></td>
					<!-- <td><span id="sweep_status" class="status_bar"></span></td>-->
					<td><span id="ptz_status" class="status_bar"></span></td>
					<td><span id="location" class="status_bar"></span></td>
					<td><span id="start_status" class="status_bar"></span></td>
					<td class="START_TIME"><span id="current_status" class="status_bar"></span></td>
					<td><span id="new_alarm"><a href = "fault">Show</a></span></td>
					<!-- <td><span id="fault_status" class="fault_bar"><a id="show_alarm_table">Show</a></span></td> -->
				</tr>

			</tbody>
		</table>
		</footer>
	</div>
	</div>
	
	
	<div class="modal" id="fault_modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Fault</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<!--  <table id="fault-table" class="table e_tab fixed_header" border=1>
						<thead>
							<th>IP</th>
							<th>Event Description</th>
							<th>Genration Time</th>
							<th></th>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>-->
					<table id="fault-table"></table>
					<div id="fault-pager"></div>
					    <div class="contextMenu" id="contextMenu" style="display:none; width:400px;">
					        <ul style="width: 400px; font-size: 65%;">
					            <li id="ack">
					                <span style="font-size:130%; font-family:Verdana">Acknowledge</span>
					            </li>
					            <li id="clear">
					            	<span style="font-size:130%; font-family:Verdana">Clear</span>
					            </li>           
					        </ul>
					    </div>
				</div>
			</div>
		</div>
	</div>
	
	



	<input type="hidden" id="map_server_ip" th:value="${mapServerIp}" />
	<input type="hidden" id="ptz_roll_offset" th:value="${ptzRollOffset}" />
	<input type="hidden" id="ptz_north_offset" th:value="${ptzOffset}" />
	<input type="hidden" id="start_time" th:value="${startTime}" />
	<input type="hidden" id="system_type" th:value="${type}" />
	<input type="hidden" id="opr_mode" th:value="${opr_mode}" />
	<!--<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzeZS7SkEdznPknWj0AgRRbd9dJYKTtz4"></script>-->
	<script th:src="@{js/lib/sockjs.min.js}"></script>
	<script th:src="@{js/lib/stomp.min.js}"></script>
	<!--<script th:src="@{js/lib/jquery/jquery-1.9.1.js}"></script>-->
	<script th:src="@{js/lib/jqgrid/grid.locale-en.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
	<script th:src="@{js/lib/jquery/jquery.jqGrid.min.js}"></script>
	<script th:src="@{js/lib/jqgrid/jquery.contextmenu.js}"></script>
	<script th:src="@{js/lib/bootstrap.min.js}"></script>
	<script th:src="@{js/lib/Chart.bundle.min.js}"></script>
	<script th:src="@{js/lib/chartjs-plugin-annotation.min.js}"></script>
	<script th:src="@{js/lib/bootstrap-colorpicker.min.js}"></script>

	<script th:src="@{js/lib/leaflet.js}"></script>
	<script th:src="@{js/lib/Leaflet.GoogleMutant.js}"></script>
	<script th:src="@{js/lib/leaflet.geometryutil.js}"></script>

	<script th:src="@{js/lib/Leaflet.fullscreen.min.js}"></script>

	<script th:src="@{js/lib/turf.min.js}"></script>
	<script th:src="@{js/urls.js}"></script>
	<script th:src="@{js/lib/jquery.datetimepicker.full.min.js}"></script>
	<!--<script th:src=@{js/variables.js}></script>-->
	<!--<script th:src="@{js/operation.js}"></script>-->
	<script th:src="@{js/dashboard.js}"></script>
	<script th:src="@{js/lib/sweetalert.min.js}"></script>
	<script th:src="@{js/lib/leaflet-semicircle.js}"></script>

	<!--  SCRIPT ATTACHMENT SECTION -->
</body>