<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>TRGL Dashboard</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<link th:href="@{css/dashboard.css}" rel="stylesheet" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
</head>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 10px 0px 0px 15px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 37px; border-radius: 5px; width: 295px;}
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
    <script>
  $( function() {
    $( "#sortable" ).sortable({
      items: "li:not(.unsortable)",
      start: function(e, ui) 
      {
          $(this).attr('data-previndex', ui.item.index());
      },
      update: function(e, ui) 
      {
          var newIndex = ui.item.index();
          var oldIndex = $(this).attr('data-previndex');
          //$(this).removeAttr('data-previndex');
      }
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>
  
<script> 
$(function(){
  $("#header").load("header"); 
});
</script>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
   
    /* var remoteAddr = '<%=request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort()+ request.getContextPath()%>'; */
</script>


<body>
	<div id="header"></div>
	<div class="container">

		<div class="row">
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">

						<div class="card">
							<div class="card-header">
								Device Info <a id="add_node" data-toggle="modal"
									data-target="#myModal"><span><i class="fa fa-plus"
										aria-hidden="true" ></i> Device Info</span></a> <a id="add_ptz"
									data-toggle="modal" data-target="#addPtzModal"> <span><i
										class="fa fa-plus" aria-hidden="true"></i> Add PTZ</span></a>
							</div>
							<div class="card-body">
								<!-- Network configuration -->
								<div class="row">
									<div class="col-md-8">
										<ul id="nodes_box" class="node_list_box">
											<!--  <li><span class="color-symbol"></span><span><input type="checkbox"></span><span>Node One</span></li>-->
										</ul>
									</div>
									<div class=col-md-4>
										<div id="node_status" class="not_reachable"></div>
										<div id="def_container" class="def_container"></div>
										<!--<div id="led_status" class="lead_status_class"></div>-->
									</div>
								</div>
							</div>
						</div>



					</div>
				</div>
				<div class="row" id="status_container">
					<div class="col-md-12">

						<div class="card">
							<div class="card-header">Statistics</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-12 ">

										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item"><a class="nav-link active"
												id="home-tab" data-toggle="tab" href="#detected_emitters"
												role="tab" aria-controls="home" aria-selected="true"><strong>Detected</strong></a>
											</li>
											<li class="nav-item"><a class="nav-link"
												id="profile-tab" data-toggle="tab" href="#node_config"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Config</strong></a>
											</li>

											<li class="nav-item"><a class="nav-link"
												id="data-access-tab" data-toggle="tab" href="#data_access"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Data
														Access</strong></a></li>

											<li class="nav-item"><a class="nav-link"
												id="system-config-tab" data-toggle="tab" href="#system_config"
												role="tab" aria-controls="profile" aria-selected="false"><strong>System Configuration</strong></a>
											</li>

											<li class="nav-item"><a class="nav-link"
												id="priority-tab" data-toggle="tab" href="#priority"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Priority</strong></a>
											</li>
										</ul>
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="detected_emitters"
												role="tabpanel" aria-labelledby="home-tab">
												<!-- <table class="table status_table_head" style="font-size:11px;" >
							  	<thead ><th>Node</th><th><p>Power </p>(dBm)</th><th><p>Freq</p>(MHz)</th>
							  	<th> <p>Date <span id="peek_table_date_time"></span></p> <br />Time(HH:MM:SS)</th><th>Angle</th> <th>Ant_Id</th> <th>Maximize</th></thead></table> -->
												<div id="status_tab_container">
													<table class="table status_table">
														<thead>
															<tr>
																<th scope="col">Node</th>
																<th><p>Power</p>(dBm)</th>
																<th><p>Freq</p>(MHz)</th>
																<th>
																	<p>
																		Date <span id="peek_table_date_time"></span>
																	</p> <br />Time(HH:MM:SS)
																</th>
																<th>Angle</th>
																<th>Ant_Id</th>
																<th>Maximize</th>
															</tr>
														</thead>
														
														<tbody>
															
														</tbody>
													</table>
												</div>
											</div>
											<div class="tab-pane fade" id="node_config" role="tabpanel"
												aria-labelledby="profile-tab">
												<table class="table" style="font-size: 12px;">
													<!--  <thead>
										<th colspan=3></th>
									</thead>-->
													<tbody>

														<tr>
															<td>Start Frequency(MHz)</td>
															<td><input type="hidden" id="current_node"><input
																type="hidden" id="current_node_ip"><input
																type="text" value="0" id="start_freq" /></td>
															<td>[0,3000]</td>
														</tr>
														<tr>
															<td>Stop Frequency(MHz)</td>
															<td><input type="text" value="0" id="stop_freq" /></td>
															<td>[0,3000]</td>
														</tr>
														<tr>
															<td>Threshold Level(dBm)</td>
															<td><input type="text" value="0" id="threshold" /></td>
															<td>[-100,-10]</td>
														</tr>
														<tr>
															<td>Mask Offset(dB)</td>
															<td><input type="text" value="0" id="mask_offset" /></td>
															<td>[-10,+20]</td>
														</tr>
														<tr>
															<td>Cable Length(M)</td>
															<td><input type="text" value="0" id="cable_length" /></td>
															<td>[0,100]</td>
														</tr>
														<tr>
															<td>Preamp Type</td>
															<td><input type="text" value="0" id="preamp_type" /></td>
															<td>[0,9]</td>
														</tr>

														<tr>
															<td>Start Time</td>
															<td><input type="text" value="0"
																id="config_start_time" /></td>
															<td></td>
														</tr>
														<tr>
															<td>Stop Time</td>
															<td><input type="text" value="0"
																id="config_stop_time" /></td>
															<td></td>
														</tr>
														<tr>
															<td>Country Code</td>
															<td><input type="text" value="0" id="country_code" /></td>
															<td></td>
														</tr>

														<tr>
															<td><input type="checkbox" value="" id="gsm_dl" />&nbspGSM
																DL</td>
															<td><input type="checkbox" value="" id="wcdma_dl" />&nbspWCDMA
																DL</td>
															<td><input type="checkbox" value="" id="wifi" />&nbspWi-Fi</td>
														</tr>
														<tr>
															<td><input type="checkbox" value="" id="use_mask" />&nbspUse
																Mask</td>
															<td><input type="checkbox" value="" id="lte" />&nbspLTE</td>
															<td><input type="checkbox" value="" id="calibrate" />&nbspCalibrate</td>
														</tr>
														<tr>
															<td colspan=3 style="text-align: center;">Fillter</td>
														</tr>
														<tr>
															<td>Start Frequency</td>
															<td>Stop Frequency</td>
															<td>Status</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_1" /></td>
															<td><input type="text" value="0" id="stop_1" /></td>
															<td><input type="checkbox" id="start_stop_check_1" />Apply</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_2" /></td>
															<td><input type="text" value="0" id="stop_2" /></td>
															<td><input type="checkbox" id="start_stop_check_2" />Apply</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_3" /></td>
															<td><input type="text" value="0" id="stop_3" /></td>
															<td><input type="checkbox" id="start_stop_check_3" />Apply</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_4" /></td>
															<td><input type="text" value="0" id="stop_4" /></td>
															<td><input type="checkbox" id="start_stop_check_4" />Apply</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_5" /></td>
															<td><input type="text" value="0" id="stop_5" /></td>
															<td><input type="checkbox" id="start_stop_check_5" />Apply</td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_6" /></td>
															<td><input type="text" value="0" id="stop_6" /></td>
															<td><input type="checkbox" id="start_stop_check_6" />Apply</td>
														</tr>
														<tr>
															<td colspan=3 id="button_row" class="btn-row"><button
																	class="btn btn-info" onclick="updateConfig()">Apply</button></td>
														</tr>

													</tbody>
												</table>
											</div>

											<div class="tab-pane fade" id="data_access" role="tabpanel"
												aria-labelledby="profile-tab">
												<div class="col-md-12">

													<div class="row">
														<div class="col-md-6 " style="margin-left: 80px;">

															<!-- Default inline 1-->
															<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" class="custom-control-input"
																	id="dataAccessRadio1" name="dataAccessRadio"
																	value="Offline" selected> <label
																	class="custom-control-label" for="dataAccessRadio1">Offline</label>
															</div>

															<!-- Default inline 2-->
															<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" class="custom-control-input"
																	id="dataAccessRadio2" name="dataAccessRadio"
																	value="Remote"> <label
																	class="custom-control-label" for="dataAccessRadio2">Live</label>
															</div>





														</div>

													</div>

													<div class="row" id="dateFilter">

														<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
																<div class="form-group">
																	<label for="inputEmail3" class="col-sm-4 control-label">Start
																		Date</label>
																	<div class="col-sm-8">
																		<input type="text" class="form-control"
																			name="search-from-date" id="search-from-date" />
																	</div>
																</div>
																<div class="form-group">
																	<label for="inputPassword3"
																		class="col-sm-4 control-label">End Date</label>
																	<div class="col-sm-8">
																		<input type="text" class="form-control"
																			name="search-to-date" id="search-to-date" />
																	</div>
																</div>

																<div class="form-group">
																	<div class="col-sm-offset-2 col-sm-10">
																		<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('running')">Fetch</button>

																		<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('csv')">CSV Report</button>
																		<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('tsv')">Tsv Report</button>
																	</div>
																</div>
															</form>

														</div>
													</div>
												</div>

											</div>
											
											
										<div class="tab-pane fade" id="system_config" role="tabpanel"
												aria-labelledby="system-config-tab">
												<div class="col-md-12">

													<div class="row" id="sysconfig">

														<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
															  <fieldset id="fieldset1">
															  <legend id="legend1">Masking Screen</legend>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="ugs">OXFAM</label>
                                                                    <input type="radio" value="0" name="radiobtn"  id="radio">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radiobtn"  id="radio1">
                                                                    <label>Enable</label>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="tmdas">FALCON</label>
                                                                    <input type="radio" value="0" name="radio" id="radio2">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radio" id="radio3">
                                                                    <label>Enable</label>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="auto">AUTO</label>
                                                                    <input type="radio" value="0" name="radiobtn1" id="radio4">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radiobtn1" id="radio5">
                                                                    <label>Enable</label>
																</div>
															</fieldset>
															</form>

														</div>
												<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
															  <fieldset id="fieldset2">
															  <legend visible="true">Timers</legend>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Timeout (mins)</label> 
																		<select id="timeout">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																		</select>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Validity (mins)</label> 
																		<select id="validity">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																		</select>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Self-Timeout (mins)</label> 
																		<select id="selftimeout">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																		</select>
																</div>
															</fieldset>
															</form>
								<div style="float: right;">
									<button class="btn2 btn-info2" onclick="addSystemConfiguration()">Apply</button>
								</div>

														</div>
													</div>
												</div>

											</div>
											<div class="tab-pane fade" id="priority" role="tabpanel" aria-labelledby="priority-tab">
												<div class="col-md-12">
																<div class="form-group">
																     <ul id="sortable"></ul>
																</div>
								<div style="float: right;">
									<button class="btn btn-info" onclick="updatePriority()">Update</button>
								</div>
												
												</div>

											</div>

										</div>


									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			  <!--<div id="status_container">
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#newModal">Frequency Configuration</button>

				<div id="newModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Frequency Configuration</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">

								<div class="form-group">

									<label>Bandwidth</label> 
									<input type="text" class="form-control" id="bandwidth" />
								</div>
								<div class="form-group">

									<label>Type</label> 
									<select class="form-control" id="freq_type">
										<option value="select">select</option>
										<option value="blacklist">Blacklist</option>
										<option value="whitelist">Whitelist</option>
									</select>
								</div>
								<div class="form-group">
									<button class="btn btn-info" onclick="addMaskingData()">Save</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--  <div class="row card" >
			<div class="col-md-12">
				
				<div class="row">
					<div class="col-md-12 card-head" >
						<h2>System Configuration</h2>
					</div>
				</div>
				<div class="row">
					<div class=col-md-12>
						
						<table class="table system_table">
							<thead>
								<th colspan=4></th>
							</thead>
							<tbody>
								<tr><td>Maximize Signal at freq</td>
									<td>
										<select>
											<option value=30>30 MHz</option>
											<option value=50>40 MHz</option>
											<option value=40>50 MHz</option>
										</select>
									</td></tr>
								<tr><td>Steps of rotation</td><td><input type="text" id="degree_of_rotation" value=""/></td></tr>
								<tr><td>Rotation Time Intervel</td><td><input type="text" id="degree_of_rotation" value=""/>(sec)</td></tr>
							</tbody>
						</table>
					</div>
				</div>						
			</div>
		</div>-->
			  <!--</div>-->
	<div id="status_container">
				<button type="button" class="btn btn-primary" data-toggle="modal"
					data-target="#newModal">Frequency Configuration</button>

				<div id="newModal" class="modal fade" role="dialog">
					<div class="modal-dialog modal-dialog2">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Frequency Configuration</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body freq_body">
							<table class="table" style="font-size: 12px;">
													<tbody>
														<tr>
															<td>Frequency</td>
															<td>Bandwidth</td>
															<td>Type</td>
														</tr>
														<tr>
															<td><input type="text" value="0"  id="frequency" /></td>
															<td><input type="text" value="0"  id="bandwidth" /></td>
															<td> 
																<select id="freqtype">
																	<option value="select">Select</option>
																	<option value="blacklist">Blacklist</option>
																	<option value="whitelist">Whitelist</option>
																</select>
															</td>
															<td><button id="addbutton" class="btn1 btn-info1" onclick="addMaskingData()">Add</button></td>
														</tr>
													</tbody>
												</table>
												<table id="freq_grid"></table>
										        <div id="freq_pager"></div>
							</div>
						</div>

					</div>
				</div>
			  </div>
		<div id="newStatus_container">
				<button class="btn btn-primary" data-toggle="modal" id="buttonOption"
					data-target="#modal1">Color Band</button>

				<div id="modal1" class="modal fade" role="dialog">
					<div class="modal-dialog modal-dialog1">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Color Band</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
												<table class="table" style="font-size: 12px;">
													<tbody>
														<tr>
															<td>Start Frequency</td>
															<td>Stop Frequency</td>
															<td>Network Type</td>
															<td>Color</td>
														</tr>
														<tr>
															<td><input type="text" value="0"  id="startfrequency" /></td>
															<td><input type="text" value="0"  id="stopfrequency" /></td>
															<td> 
																<select id="networktype">
																	<option value="select">Select</option>
																	<option value="gsm">GSM</option>
																	<option value="lte">LTE</option>
																</select>
															</td>
															<td><input type="text" id="color" /></td>
															<td><button id="applybutton" class="btn1 btn-info1" onclick="defineColorStrips()">Add</button></td>
														</tr>
														<!--<tr>
															<td id="button_row">
								<div style="float: right;">
									<button class="btn btn-info" onclick="defineColorStrips()">Apply</button>
								</div></td>
														</tr>-->

													</tbody>
												</table>
												<table id="grid"></table>
										        <div id="pager"></div>
										        <!--<button id="updatebutton" class="btn3 btn-info3" onclick="updateGrid()">Update</button>-->
							</div>
						</div>

					</div>
				</div>
			  </div>
			</div>
			<div class=col-md-7>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class=col-md-12>
								<div id="map_leaf"></div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div>
									<p style="margin-bottom:0rem;">Note: Reference Power 1W</p>
									<table class="table" style="margin-bottom:0.5rem;">
										<tbody>
											<tr>
												<td><small>Frequency (Mhz)</small></td>
												<td><input type="text" id="current_frequency_df"
													class="form-control" readonly="readonly"></td>
												<td id=""><small>Current Angle</small></td>
												<td><input type="text" class="form-control"
													id="current_angle_df"></td>
												<td><button class="btn btn-info" data-toggle="modal"
														data-target="#def_modal">Maximize</button></td>
												<td><button type="button" class="btn btn-danger"
														onclick="stopDef()">Stop</button></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div style="float:right;margin-right:1%;">
									<button type="button" id="show_graph" class="btn btn-info2" 
									 onclick="graphView()">Hide</button>
								</div>
							</div>
						</div>
						<div class="row">


							<div class=col-md-12>
								<!-- Graph area -->
								<canvas id="canvas"></canvas>
							</div>
						</div>
						<div id="spectrogram" class="row">
							<div class=col-md-12>
								<!-- Graph area 2-->
								<canvas id="canvas1"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Add Device</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group">
							<label>Name</label> <input type="text" id="node_name"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>IP</label> <input type="text" id="node_ip"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Color</label> <input type="text" id="node_color"
								class="form-control" /><span class="input-group-addon"><i></i></span>
						</div>
						<div class="form-group">
							<label>Lat</label> <input type="text" id="node_lat"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Lon</label> <input type="text" id="node_lon"
								class="form-control" />
						</div>
						<input type="hidden" id="node_id" value="">
						<div class="form-group">
							<button class="btn btn-info" onclick="addNode()">Save</button>
						</div>

						<!--   <table class="table" id="add_node_form">
          	<thead>
          		<th colspan=2></th>
          	</thead>
          	<tbody>
          		<tr>
          			<td>Name</td>
          			<td><input type="text" id="node_name" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>IP</td>
          			<td><input type="text" id="node_ip" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>Color</td>
          			<td><input type="text" id="node_color" class="form-control" /><span class="input-group-addon"><i></i></span></td>
          		</tr>
          		<tr>
          			<td>Lat</td>
          			<td><input type="text" id="node_lat" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>Lon</td>
          			<td><input type="text" id="node_lon" /></td>
          		</tr>
          		<tr>
          			<td colspan=2 class="btn-row"><button class="btn btn-info" onclick="addNode()">Save</button></td>
          		</tr>
          	</tbody>
          </table> -->
					</div>

				</div>
			</div>
		</div>
		<div class="modal" id="def_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Maximize</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form">
							<label>Antenna Rotation</label> <label>From</label> <input
								type="numeric" id="start_angle" class="form-control"
								placeholder="Start Angle" /> <label>To</label> <input
								type="numeric" id="end_angle" class="form-control"
								placeholder="End Angle" /> <label>Frequency Offset (Mhz)</label>
							<input type="numeric" id="frequency_offset" class="form-control"
								value="0" placeholder="Frequency Offset (MHz)" /> <label>Tilt
								Angle</label> <input type="numeric" id="tilt_angle" class="form-control"
								value="0" placeholder="Tilt Angle" />
						</div>
						<div class="form-group">
							<label>Frequency</label> <input type="numeric" id="def_freq"
								class="form-control" />
						</div>

						<div class="form-group">
							<button class="btn btn-info" id="start_def_button"
								onclick="startDef()">Start</button>
						</div>


					</div>

				</div>
			</div>
		</div>
		<div class="modal" id="addPtzModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">PTZ</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-group">

							<label>PTZ IP</label> <input type="text" class="form-control"
								id="ptz_ip">
						</div>
						<div class="form-group">

							<label>Angle Offset</label> <input type="text"
								class="form-control" id="ptz_angle_offset">
						</div>
						<input type="hidden" id="ptz_id" />
						<div class="form-group">
							<button class="btn btn-info" onclick="addPtzNode()">Save</button>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-12">
			<footer class="fixed-bottom bottom1">
				<table class="table table-bordered status_bar">
					<thead>
					<tr>
						<th>Start Freq<span>(MHz)</span></th>
						<th>Stop freq<span>(MHz)</span></th>
						<th>Power Threshold<span>(dBm)</span></th>
						<th>GSM DL</th>
						<th>WCDMA DL</th>
						<th>LTE</th>
						<th>WiFi</th>
						<!-- <th>Sweep Time</th> -->
						<th>Mask Offset</th>
						<th>Start Time</th>
					</tr>
					</thead>
					<tbody>

						<!--  <tr>
					<td>Start Freq&nbsp;:&nbsp;<span id="start_freq_status" class="status_bar">1000</span><span>(MHz)</span></td>
					<td>Stop freq&nbsp;:&nbsp;<span id="stop_freq_status" class="status_bar">1000</span><span>(MHz)</span></td>
					<td>Power Threshold&nbsp;:&nbsp;<span id="threshold_status" class="status_bar">1000</span><span>(dBm)</span></td>
					<td>GSM Downlink&nbsp;:&nbsp;<span id="gsm_status" class="status_bar">OFF</span></td>
					<td>WCDMA Downlink&nbsp;:&nbsp;<span id="wcdma_status" class="status_bar">OFF</span></td>
					<td>LTE&nbsp;:&nbsp;<span id="lte_status" class="status_bar">OFF</span></td>
					<td>WiFi&nbsp;:&nbsp;<span id="wifi_status" class="status_bar">OFF</span></td>
					 <td>Sweep Time&nbsp;:&nbsp;<span id="sweep_status" class="status_bar">0.45637</span></td>
					<td>Mask Offset&nbsp;:&nbsp;<span id="mask_status" class="status_bar">OFF</span></td>
					<td>Start Time&nbsp;:&nbsp;<span id="start_status" class="status_bar">27-3-5 45:45:45</span></td>
				</tr>-->

						<tr>
							<td>Start Freq<span>(MHz)</span></td>
							<td>Stop freq<span>(MHz)</span></td>
							<td>Power Threshold<span>(dBm)</span></td>
							<td>GSM Downlink</td>
							<td>WCDMA Downlink</td>
							<td>LTE</td>
							<td>WiFi</td>
							<!--  <td>Sweep Time</td>-->
							<td>Mask Offset</td>
							<td>Start Time</td>
						</tr>

						<tr>
							<td><span id="start_freq_status" class="status_bar"></span></td>
							<td><span id="stop_freq_status" class="status_bar"></span></td>
							<td><span id="threshold_status" class="status_bar"></span></td>
							<td><span id="gsm_status" class="status_bar"></span></td>
							<td><span id="wcdma_status" class="status_bar"></span></td>
							<td><span id="lte_status" class="status_bar"></span></td>
							<td><span id="wifi_status" class="status_bar"></span></td>
							<!-- <td><span id="sweep_status" class="status_bar"></span></td>-->
							<td><span id="mask_status" class="status_bar"></span></td>
							<td><span id="start_status" class="status_bar"></span></td>
						</tr>

					</tbody>
				</table>
				</footer>
			</div>
		</div>



	<input type="hidden" id="map_server_ip" th:value="${mapServerIp}" />
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzeZS7SkEdznPknWj0AgRRbd9dJYKTtz4"></script>
	<script th:src="@{js/lib/sockjs.min.js}"></script>
	<script th:src="@{js/lib/stomp.min.js}"></script>
	<script th:src="@{js/lib/bootstrap.min.js}"></script>
	<script th:src="@{js/lib/Chart.bundle.min.js}"></script>
	<script th:src="@{js/lib/chartjs-plugin-annotation.min.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-1.9.1.js}"></script>
	<script th:src="@{js/lib/jqgrid/grid.locale-en.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
	<script th:src="@{js/lib/jquery/jquery.jqGrid.min.js}"></script>
	<script th:src="@{js/lib/bootstrap-colorpicker.min.js}"></script>

	<script th:src="@{js/lib/leaflet.js}"></script>
	<script th:src="@{js/lib/Leaflet.GoogleMutant.js}"></script>
	<script th:src="@{js/lib/leaflet.geometryutil.js}"></script>

	<script th:src="@{js/lib/Leaflet.fullscreen.min.js}"></script>

	<script th:src="@{js/lib/turf.min.js}"></script>
	<script th:src="@{js/urls.js}"></script>
	<script th:src="@{js/lib/jquery.datetimepicker.full.min.js}"></script>
	<script th:src=@{js/variables.js}></script>
	<script th:src="@{js/dashboard.js}"></script>
	<script th:src="@{js/lib/sweetalert.min.js}"></script>
	<script th:src="@{js/lib/leaflet-semicircle.js}"></script>

	<!--  SCRIPT ATTACHMENT SECTION -->
</body>