<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>TRGL Dashboard</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<link th:href="@{css/dashboard.css}" rel="stylesheet" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
</head>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
  
</script>


<body>
	<div id="header"></div>
	
	<div class=".container-fluid h-100_custom">
		<div class="row h-50 cont_row">
			<div class="col-7">
				<div id="map_leaf" class="box_border"></div>
			</div>
			<div class="col-5">
				<div class="row h-100">
					<div class="col-7">
						<div class="row h-50">
							<div class="col-12 box_border">
							<div class="box_title">Alarm</div>
							<div class="table_cont">
								<table class="table e_tab" id="bl_table">
								  <thead>
									<tr>
										<th scope="col">Date</th>
										<th>Time</th>
										<th scope="col">Trigger</th>
										<th scope="col">Frequency</th>
										<th scope="col">Direction</th>
										<th scope="col">Range</th>
										<th scope="col">Rx Level</th>
										<th scope="col">DF Duration</th>
										<th scope="col">DF Samples</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>
							</div>
						</div>
						<div class="row h-50">
							<div class="col-12  box_border">
							<div class="box_title">Events</div>
							<div class="table_cont">
								<table class="table e_tab" id="el_table">
								  <thead>
									<tr>
										<th scope="col">Date</th>
										<th>Time</th>
										<th scope="col">Frequency</th>
										<th scope="col">Direction</th>
										<th scope="col">Rx Level</th>
										<th scope="col">Ant_Id</th>
										<th scope="col">Maximize</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>					
							</div>
						</div>	
					</div>
					<div class="col-5">
						<div class="row h-100">
							<div class="col-12  box_border">
								<div class="box_title">Status</div>
								<div class="table_cont">
								<table class="table e_tab" id="sl_table">
								  <thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">IP</th>
										<th scope="col">Status</th>
									</tr>
								  </thead>
								  <tbody>
									
								  </tbody>
								</table>
							</div>
							</div>		
						</div>    				
					</div>		
				</div>		
			</div>
		</div>
		<div class="row h-50 cont_row">
			<div class="col-7 box_border">
				<div class="box_title">Graph
					<div style="float:right;margin-right:1%;">
					<button type="button" id="show_graph" class="btn btn-info2" style="line-height: normal;" 
						 onclick="graphView()">Hide</button>
					</div>
				</div>
				<div class="table_cont">
					<div style="width: 70%;margin-left:10%">
						<canvas id="canvas"></canvas>
						<div id="spectrogram">
							<canvas id="canvas1"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5">
				<div class="box_border">
					<p style="margin-bottom:0rem;">Note: Reference Power 1W</p>
					<table class="table" style="margin-bottom:0rem;">
						<tbody>
							<tr>
								<td><small>Frequency (Mhz)</small></td>
								<td><input type="text" id="current_frequency_df"
									class="form-control" readonly="readonly"></td>
								<td id=""><small>Current Angle</small></td>
								<td><input type="text" class="form-control"
									id="current_angle_df"></td>
								<td><button class="btn btn-info" data-toggle="modal"
										data-target="#def_modal">Maximize</button></td>
								<td><button type="button" class="btn btn-danger"
										onclick="stopDef()">Stop</button></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box_title">Event Cue</div>
					<div class="table_cont1 box_border">
						<table class="table e_tab" id="cue_table">
						  <thead>
							<tr>
							  <th scope="col">TIME</th>
							  <th scope="col">Trigger Source</th>
							  <th scope="col">Type</th>
							  <th scope="col">Detail</th>
							</tr>
						  </thead>
						  <tbody>
							
						  </tbody>
						</table>
					</div>					
			</div>
		</div>

		<div class="modal" id="def_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Maximize</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form">
							<label>Antenna Rotation</label> <label>From</label> <input
								type="numeric" id="start_angle" class="form-control"
								placeholder="Start Angle" /> <label>To</label> <input
								type="numeric" id="end_angle" class="form-control"
								placeholder="End Angle" /> <label>Frequency Offset (Mhz)</label>
							<input type="numeric" id="frequency_offset" class="form-control"
								value="0" placeholder="Frequency Offset (MHz)" /> <label>Tilt
								Angle</label> <input type="numeric" id="tilt_angle" class="form-control"
								value="0" placeholder="Tilt Angle" />
						</div>
						<div class="form-group">
							<label>Frequency</label> <input type="numeric" id="def_freq"
								class="form-control" />
						</div>

						<div class="form-group">
							<button class="btn btn-info" id="start_def_button"
								onclick="startDef()">Start</button>
						</div>


					</div>

				</div>
			</div>
		</div>
		
	</div>
	
	<div class="row">
	<div class="col-md-12">
	<footer class="fixed-bottom bottom1">
		<table class="table table-bordered status_bar">
			<thead>
			<tr>
				<th>Start Freq<span>(MHz)</span></th>
				<th>Stop freq<span>(MHz)</span></th>
				<th>Power Threshold<span>(dBm)</span></th>
				<th>GSM DL</th>
				<th>WCDMA DL</th>
				<th>LTE</th>
				<th>WiFi</th>
				<!-- <th>Sweep Time</th> -->
				<th>Mask Offset</th>
				<th>Start Time</th>
			</tr>
			</thead>
			<tbody>

				<tr>
					<td>Start Freq<span>(MHz)</span></td>
					<td>Stop freq<span>(MHz)</span></td>
					<td>Power Threshold<span>(dBm)</span></td>
					<td>GSM Downlink</td>
					<td>WCDMA Downlink</td>
					<td>LTE</td>
					<td>WiFi</td>
					<!--  <td>Sweep Time</td>-->
					<td>Mask Offset</td>
					<td>Start Time</td>
				</tr>

				<tr>
					<td><span id="start_freq_status" class="status_bar"></span></td>
					<td><span id="stop_freq_status" class="status_bar"></span></td>
					<td><span id="threshold_status" class="status_bar"></span></td>
					<td><span id="gsm_status" class="status_bar"></span></td>
					<td><span id="wcdma_status" class="status_bar"></span></td>
					<td><span id="lte_status" class="status_bar"></span></td>
					<td><span id="wifi_status" class="status_bar"></span></td>
					<!-- <td><span id="sweep_status" class="status_bar"></span></td>-->
					<td><span id="mask_status" class="status_bar"></span></td>
					<td><span id="start_status" class="status_bar"></span></td>
				</tr>

			</tbody>
		</table>
		</footer>
	</div>
	</div>



	<input type="hidden" id="map_server_ip" th:value="${mapServerIp}" />
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzeZS7SkEdznPknWj0AgRRbd9dJYKTtz4"></script>
	<script th:src="@{js/lib/sockjs.min.js}"></script>
	<script th:src="@{js/lib/stomp.min.js}"></script>
	<script th:src="@{js/lib/bootstrap.min.js}"></script>
	<script th:src="@{js/lib/Chart.bundle.min.js}"></script>
	<script th:src="@{js/lib/chartjs-plugin-annotation.min.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-1.9.1.js}"></script>
	<script th:src="@{js/lib/jqgrid/grid.locale-en.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
	<script th:src="@{js/lib/jquery/jquery.jqGrid.min.js}"></script>
	<script th:src="@{js/lib/bootstrap-colorpicker.min.js}"></script>

	<script th:src="@{js/lib/leaflet.js}"></script>
	<script th:src="@{js/lib/Leaflet.GoogleMutant.js}"></script>
	<script th:src="@{js/lib/leaflet.geometryutil.js}"></script>

	<script th:src="@{js/lib/Leaflet.fullscreen.min.js}"></script>

	<script th:src="@{js/lib/turf.min.js}"></script>
	<script th:src="@{js/urls.js}"></script>
	<script th:src="@{js/lib/jquery.datetimepicker.full.min.js}"></script>
	<script th:src=@{js/variables.js}></script>
	<script th:src="@{js/dashboard.js}"></script>
	<script th:src="@{js/lib/sweetalert.min.js}"></script>
	<script th:src="@{js/lib/leaflet-semicircle.js}"></script>

	<!--  SCRIPT ATTACHMENT SECTION -->
</body>