<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Hummer FAQ</title>

<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/lib/fullscreen.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">

<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
</head>

<script th:inline="javascript">
	
	$("#header").load("header");
  
</script>

<body>
	<div id="header"></div>
	<embed src="document/faq.pdf#zoom=85&toolbar=0&navpanes=0&scrollbar=0" width="100%" height="100%">
	<!-- <div id="pdf">
	    <object width="100%" height="100%" type="application/pdf" data="document/faq.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" id="pdf_content" style="pointer-events: none;">
	       
	    </object>
	</div>-->
</body>