<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="dashboard" id="dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <div th:if="${user=='admin' || user=='superadmin'}">
      	<a class="nav-item nav-link" href="operation" id="operation">Operation</a>
      </div>
      <div th:if="${user=='admin' || user=='superadmin'}">
	  	<a class="nav-item nav-link" href="admin" id="admin">Admin</a>
	  </div>
	  <a target="_blank" rel="noopener noreferrer" class="nav-item nav-link" href="faq" id="faq">FAQ</a>
	  <div> <p style="color : #343a40;" id="sysovrload">System Overload</p></div>
	  <!--<div th:if="${user=='superadmin'}">
	  	<a class="nav-item nav-link" href="deployment" id="deploy">Deployment</a>
	  </div>-->
    </div>
  </div>
  <button class="btn btn-outline-success my-2 my-sm-0 logout"><a href="logout">Logout</a></button>
  <p style="color : #70a2bb;">v1.0.13</p>
  <input type="hidden" id="user" th:value="${user}" />
</nav>