<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hummer Login</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link th:href="@{css/login.css}" rel="stylesheet" />
<link th:href="@{css/loginMain.css}" rel="stylesheet"/>
<style>

</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Hummer
					</span>
				</div>

				<form method="post" th:action="@{/login}" class="login100-form validate-form">
					<div class="form-group alert alert-warning" id="errors"
						th:if="${(param.error != null)}">Username and Password Do
						Not Match</div>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" id="username" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" id="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="login" type="submit" >
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
<script th:src="@{js/lib/bootstrap.min.js}"></script>
</html>