<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">

<title>Operations</title>
<script th:src="@{js/lib/jquery-3.3.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/lib/fontawesome-all.min.css}">
<link rel="stylesheet" th:href="@{css/lib/jqgrid/ui.jqgrid.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery/jquery-ui-1.10.1.custom.css}">
<link rel="stylesheet" th:href="@{css/lib/bootstrap-colorpicker.min.css}">
<link rel="stylesheet" th:href="@{css/lib/themify-icons.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.css}">
<link rel="stylesheet" th:href="@{css/lib/leaflet.fullscreen.css}">
<link rel="stylesheet" th:href="@{css/lib/jquery.datetimepicker.css}">
<link th:href="@{css/operation.css}" rel="stylesheet" />
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
</head>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 10px 0px 0px 15px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 37px; border-radius: 5px; width: 295px;}
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
    <script>
  $( function() {
    $( "#sortable" ).sortable({
      items: "li:not(.unsortable)",
      start: function(e, ui) 
      {
          $(this).attr('data-previndex', ui.item.index());
      },
      update: function(e, ui) 
      {
          var newIndex = ui.item.index();
          var oldIndex = $(this).attr('data-previndex');
          //$(this).removeAttr('data-previndex');
      }
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>

<script th:inline="javascript">

    var scheme = /*[[${#httpServletRequest.getScheme()}]]*/;
    var serverName=/*[[${#httpServletRequest.getServerName()}]]*/;
    var serverPort=/*[[${#httpServletRequest.getServerPort()}]]*/;
    var contextPath=/*[[${#httpServletRequest.getContextPath()}]]*/;
    var remoteAddr=scheme+"://"+serverName+":"+serverPort+contextPath;
   
    /* var remoteAddr = '<%=request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort()+ request.getContextPath()%>'; */
</script>


<body>
	<div id="header"></div>
	
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div th:if="${user=='superadmin'}" class="row">
					<div class="col-md-12">

						<div class="card">
							<div class="box_title">
								Add Device 
									<!--<a id="add_node" data-toggle="modal"
									data-target="#myModal"><span><i class="fa fa-plus"
										aria-hidden="true" ></i> Device Info</span></a> 
									<a id="add_ptz" data-toggle="modal" 
									data-target="#addPtzModal"> <span><i class="fa fa-plus" 
										aria-hidden="true"></i> Add PTZ</span></a>-->
							</div>
							<div class="card-body">
								<!-- Network configuration -->
								<div class="row">
									<div class=col-md-12>
										<table border=1 id="add_sufi_tab" class="table table-bordered" style="margin: 0 auto;">
					                        <thead>
					                        </thead>
					                        <tbody class="spanStyleTbody">
					                        <tr id="addDeviceDetailsTr">
					                            <td colspan=1>Device :
					                                <select style="width: 120px;" id="useType" onchange="openAddDeviceModal()">
														<option value="select">Select</option>
														<option value="1" data-type="no-modal">FINLEY</option>
														<option value="2" data-type="no-modal">PTZ</option>
														<option value="3" data-type="modal">SMS</option>
														<option value="4" data-type="no-modal">FALCON</option>
														<option value="5" data-type="no-modal">UGS</option>
					                                </select>
					                            </td>
					                            <td colspan=1>IP : <input type='text' style="width: 120px;" value='' id='deviceIp' /></td>
					                           
					                            <td id="tr_ptz_offset" style="display:none" colspan=1 >North Offset : <input type='text' style="width: 100px;" value='' id='ptz_offset'/></td>
												<td id="tr_sector_offset" style="display:none" colspan=1 >Sector Offset : <input type='text' style="width: 100px;" value='' id='sector_offset'/></td>
					                            <td id="tr_sms_lat" style="display:none" colspan=1>Latitude : <input type='text' style="width: 100px;" value='' id='sms_lat'/></td>
					                            <td id="tr_sms_lon" style="display:none" colspan=1>Longitude : <input type='text' style="width: 100px;" value='' id='sms_lon'/></td>
												<td id="tr_sms_unit" style="display:none" colspan=1>Unit No. : <input type='text' style="width: 100px;" value='' id='sms_unit'/></td>
					                            <td>
					                            <button id="addDeviceButton" class="btn btn-default" onclick="addDevice()">Add</button>
					                            </td>
					                        </tr>
					                        </tbody>
					                    </table>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="row" id="status_container">
					<div class="col-md-6">
							<div class="card" style="margin-bottom: 2%;">
							<div class="box_title">
								Environment Scanning
							</div>
							<div class="" style="background: #0000001a;font-size: 12px;">
							<form class="form" style="margin-top: 0%;">
								
												<label class="col-sm-4 control-label" id="ugs">Environment Scan Time [min1,20]</label>
												<input type="number" value="0" id="calibtimer" min="1" max="20"style="margin-top:20px" />
												<!--<button type="button" class="btn btn-info2" id="StartCalibrate" onclick="StartCalibrt()">Start Enviorment Scan</button>-->
												<button type="button"style="margin-left: 170px;" class="btn btn-info2" id="StartCalibrate" onclick="StartCalibrt()">Start Environment Scan</button>
												<!--<button type="button" class="btn btn-info2" id="StopCalibrate" onclick="StopCalibrt()">Stop Calibartion</button>-->
							</div>
						</div>
						
						<div class="card" style="margin-bottom: 2%;">
							<div class="box_title">
								System Setting
							</div>
							<div class="" style="background: #0000001a;font-size: 12px;">
								<form class="form" style="margin-bottom: 0%;margin-top: 1%;">
								  <fieldset id="fieldset1">
								  <!--<legend id="legend1" class="font">System Configuration</legend>-->
									<div style="margin-top:20px" class="form-group form">
										<label class="col-sm-4 control-label" id="ugs">System Type</label>
										<input type="radio" value="integrated" name="settingbtn"  id="radio">
										<label>Integrated</label>&nbsp
										<input type="radio" value="standalone" name="settingbtn"  id="radio1">
										<label>Standalone</label>&nbsp
										<input type="radio" value="hummer" name="settingbtn"  id="radio2">
										<label>Hummer Only</label>
									</div>
									<fieldset id="fieldsetOPR">
								  <!--<legend id="legend1" class="font">Operation Mode</legend>-->
									<!--<div class="form-group">
										<label class="col-sm-4 control-label" id="opr_mode">Operation Mode</label>
										<input type="radio" value="1" name="oprbtn"  id="radiosf">
										<label>Safe Mode</label>
										<input type="radio" value="2" name="oprbtn"  id="radio1rm">
										<label>Default</label>
										<input type="radio" value="3" name="oprbtn"  id="radio2hm">
										<label>High Sensitivity</label>
										<input type="radio" value="4" name="oprbtn"  id="radio2em">
										<label>Environmental</label>
									</div>
								</fieldset>
								</form>-->
								<form class="form" style="margin-bottom: 0%;">
								  <fieldset id="fieldset2">
								  <!--<legend id="legend1" class="font">System Configuration</legend>-->
									<div class="form-group form">
										<label class="col-sm-4 control-label" id="ugs">System Mode</label>
										<input type="radio" value="stationary" name="settingMode"  id="radio2">
										<label>Stationary</label>
										<!--changes to hide moving functionality-->
										<!--<input type="radio" value="moving" name="settingMode"  id="radio3">
										<label>Moving</label>-->
									</div>
								</fieldset>
								</form>
								<form class="form" style="margin-bottom: 0%;">
								  <fieldset id="fieldset3">
								  <!--<legend id="legend1" class="font">System Configuration</legend>-->
									<div class="form-group form">
										<label class="col-sm-4 control-label" id="ugs">GPS</label>
										<input type="radio" value="smm" name="settingGps"  id="radio4">
										<label>SMM</label>
										<input type="radio" value="dgps" name="settingGps"  id="radio5">
										<label>STRU</label>
									</div>
								</fieldset>
								</form>
								<form class="form" style="margin-bottom: 0%;">
								  <fieldset id="fieldset4">
									<div class="form-group form">
										<label class="col-sm-4 control-label">GPS Accuracy (in mtr)</label>
										<input type="number" value="0" id="gps_accuracy" min="0" max="200"/>
										<button style="margin-left:200px"class="btn2 btn-info2" onclick="updateUserSetting()">Update</button>
									</div>
								</fieldset>
								</form>
								
								<div style="float: right;margin:1%;">
									
									
								</div>
							</div>
						</div>
					
						
						<div class="card">
							<div class="box_title">
								Device Status
							</div>
							<div class="table_cont"><!--card-body"-->
								<!-- Device Status -->
								<div class="row">
									<div class=col-md-12>
										<table border=1 id="list_table" style="margin: 0 auto;" class="table e_tab><!--table-bordered"-->
				                            <thead>
				                            <tr>
				                            <th colspan="5" style="text-align: center;">Existing devices</th>
				                            </tr>
				                            <tr>
				                                <th>Name</th>
				                                <th>Node IP</th>
				                                <th>Node Status</th>
				                                <th colspan="2">Action</th>
				                            </tr>
				                            </thead>
				                            <tbody id="list_table_body">
				
				                            </tbody>
			                            </table>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				<!--</div>
				
				<div class="row" id="status_container">-->
					<div class="col-md-6">

						<div class="card">
							<div class="box_title">Operation Configuration</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-12 ">

										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item"><a class="nav-link active" style="padding:0.5rem 0.5rem;"
												id="profile-tab" data-toggle="tab" href="#node_config"
												role="tab" aria-controls="home" aria-selected="true"><strong>Hummer Config</strong></a>
											</li>

											<!--<li class="nav-item"><a class="nav-link"
												id="data-access-tab" data-toggle="tab" href="#data_access" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Data
														Access</strong></a></li>-->

											<li class="nav-item"><a class="nav-link"
												id="system-config-tab" data-toggle="tab" href="#system_config" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>System Config</strong></a>
											</li>

											<li class="nav-item"><a class="nav-link"
												id="priority-tab" data-toggle="tab" href="#priority" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Priority</strong></a>
											</li>
											
											<li class="nav-item"><a class="nav-link"
												id="freq-config-tab" data-toggle="tab" href="#freq_config" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Freq Config</strong></a>
											</li>
											
											<li class="nav-item"><a class="nav-link"
												id="colour-band-tab" data-toggle="tab" href="#colour_band" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Emitter Info</strong></a>
											</li>
											<li class="nav-item"><a class="nav-link"
												id="band-tab" data-toggle="tab" href="#band_specific_filter" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Band Specific Filter</strong></a>
											</li>
											<!--<li class="nav-item"><a class="nav-link"
												id="user-settings-tab" data-toggle="tab" href="#user_settings" style="padding:0.5rem 0.5rem;"
												role="tab" aria-controls="profile" aria-selected="false"><strong>Sensor Settings</strong></a>
											</li>-->
										</ul>
										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="node_config" role="tabpanel"
												aria-labelledby="profile-tab">
												<div style="height: 88%;overflow-y: auto;">
												<table class="table" style="font-size: 12px;">
													<!--  <thead>
														<th colspan=3></th>
													</thead>-->
													<tbody>

																																		
														
														
														
														<tr id="preamp_type_path">
															<td class="TdClass" style="padding:0.3rem;">Antenna Number</td>
															<td class="TdClass" style="padding:0.3rem;">
															<select id="antennanum">
																<option value="all">all</option>
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
															</select>
															</td>
															
																														
															<td class="TdClass" style="padding:0.3rem;">Preamp-Type</td>
															<td class="TdClass" style="padding:0.3rem;">
															<select id="preamptypepath">
																<option value="1">Through</option>
															</select>
															
														</tr>
														<tr >
															<td class="TdClass" style="padding:0.3rem;">Operation Mode</td>
															<td class="TdClass" style="padding:0.3rem;">
															<select id="reflevel">
																<option value="l1">Default</option>
																<option value="l2">Normal</option>
																<option value="l3">High Sensitivity</option>
																<!--<option value="-30">-30</option>
																<option value="-40">-40</option>-->
															</select>
															</td>
															  <td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="use_mask" />&nbspUse Environmental Mask</td>
		                                                    	<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														
														


														<tr>
															<td class="TdClass" style="padding:0.3rem;">Start Frequency(MHz)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="hidden" id="current_node"><input
																type="hidden" id="current_node_ip"><input
																type="number" value="9" id="start_freq"  min="9" max="6000" onkeyup="calculateRbwBandwidth()"/></td>
															<td class="TdClass" style="padding:0.3rem;">[9,6000]</td>
															
															 <td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="band_specific" />&nbspUse Band Filter</td>
															 
														</tr>
														<tr>
															<td class="TdClass" style="padding:0.3rem;">Stop Frequency(MHz)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="9" id="stop_freq" min="9" max="6000" 
																onkeyup="calculateRbwBandwidth()"/></td>
															<td class="TdClass" style="padding:0.3rem;">[9,6000]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<!--<tr>
															<td class="TdClass" style="padding:0.3rem;">Threshold Level(dBm)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="threshold" min="-100" max="-10"/></td>
															<td class="TdClass" style="padding:0.3rem;" id="thresholdrange">[-100,-10]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>-->
														
														<tr>
															<td class="TdClass" style="padding:0.3rem;">Threshold Level(dBm)</td>
															
															<!-- <td class="TdClass" style="padding:0.3rem;" id="thresholdrange">[-100,-10]</td>-->
															
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="threshold" min="-100" max="-10"/>&nbsp&nbsp&nbsp[-78,-10]</td>
												        	<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="sdth" onclick="sdth()"/>&nbspSystem Default</td>
												        	<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td class="TdClass" style="padding:0.3rem;">Mask Offset(dB)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="mask_offset" min="-10" max="20"/></td>
															<td class="TdClass" style="padding:0.3rem;">[-10,+20]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td class="TdClass" style="padding:0.3rem;">Cable Length(M)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="cable_length" min="0" max="100"/></td>
															<td class="TdClass" style="padding:0.3rem;">[0,100]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr style="display : none">
															<td class="TdClass" style="padding:0.3rem;">Preamp Type</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="preamp_type" min="0" max="90"/></td>
															<td class="TdClass" style="padding:0.3rem;">[0,9]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr style="display : none">
															<td class="TdClass " style="padding:0.3rem;">Distance(M)</td>
															<td class="TdClass " style="padding:0.3rem;"><input type="number" value="0" id="distance" min="0" max="100000"/></td>
															<td class="TdClass " style="padding:0.3rem;">[0,100000]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr style="display : none">
															<td class="TdClass" style="padding:0.3rem;">Tx Power(dBm)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="tx_power" min="-100" max="100"/></td>
															<td class="TdClass" style="padding:0.3rem;">[-100,100]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr style="display : none">
															<td class="TdClass" style="padding:0.3rem;">Fade Margin(dB)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="fade_margin" min="0" max="20"/></td>
															<td class="TdClass" style="padding:0.3rem;">[0,20]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr style="display : none">
															<td class="TdClass" style="padding:0.3rem;">Calibrate Timer(in m)</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="calib_timer" min="0" max="20"/></td>
															<td class="TdClass" style="padding:0.3rem;">[0,20]</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr  class="hideTrClass">
															<td>Start Time</td>
															<td><input type="text" value="0"
																id="config_start_time" /></td>
															<td></td>
														</tr>
														<tr  class="hideTrClass">
															<td>Stop Time</td>
															<td><input type="text" value="0"
																id="config_stop_time" /></td>
															<td></td>
														</tr>
														<tr>
															<td class="TdClass" style="padding:0.3rem;">Country Code</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="number" value="0" id="country_code" /></td>
															<td class="TdClass" style="padding:0.3rem;"></td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
															
														</tr>

														<tr>
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="gsm_dl" />&nbspGSM
																DL</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="wcdma_dl" />&nbspWCDMA
																DL</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="wifi" />&nbspWi-Fi</td>
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="lte" />&nbspLTE</td>
															
														</tr>
														<!--<tr>
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="lte" />&nbspLTE</td>--
															<td class="TdClass" style="padding:0.3rem;"></td>
															<td class="TdClass" style="padding:0.3rem;"></td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
															
														</tr>-->
														<tr style="display : none">
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="lte" />&nbspLTE</td>
															<!--<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="use_mask" />&nbspUse
																Mask</td>-->
															<td class="TdClass" style="padding:0.3rem;"><input type="checkbox" value="" id="calibrate" />&nbspCalibrate</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td colspan=3 style="text-align: center;">Filter</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td>Start Frequency</td>
															<td>Stop Frequency</td>
															<td>Status</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_1" /></td>
															<td><input type="text" value="0" id="stop_1" /></td>
															<td><input type="checkbox" id="start_stop_check_1" onclick="checkBoxListener(this)"/>Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_2" /></td>
															<td><input type="text" value="0" id="stop_2" /></td>
															<td><input type="checkbox" id="start_stop_check_2" onclick="checkBoxListener(this)"/>Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_3" /></td>
															<td><input type="text" value="0" id="stop_3" /></td>
															<td><input type="checkbox" id="start_stop_check_3" onclick="checkBoxListener(this)"/>Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_4" /></td>
															<td><input type="text" value="0" id="stop_4" /></td>
															<td><input type="checkbox" id="start_stop_check_4" onclick="checkBoxListener(this)"/>Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr>
															<td><input type="text" value="0" id="start_5" /></td>
															<td><input type="text" value="0" id="stop_5" /></td>
															<td><input type="checkbox" id="start_stop_check_5" onclick="checkBoxListener(this)"/>Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<tr  class="hideTrClass">
															<td><input type="text" value="0" id="start_6" /></td>
															<td><input type="text" value="0" id="stop_6" /></td>
															<td><input type="checkbox" id="start_stop_check_6" />Apply</td>
															<td class="TdClass" style="padding:0.3rem;"> </td>
														</tr>
														<!-- <tr>
															<td colspan=3 id="button_row" class="btn-row"><button
																	class="btn btn-info" onclick="updateConfig()">Apply</button></td>
														</tr>-->

													</tbody>
												</table>
												</div>
												<label class="col-sm-2 control-label">RBW (MHz) : </label>
												<label class="col-sm-2 control-label" id="rbwBandwidth"></label>
												<label class="col-sm-3 control-label">Min. Threshold (dBm) : </label>
												<label class="col-sm-2 control-label" id="maxThreshold"></label>
												<button class="btn btn-info" style="margin-left: 10%;" onclick="ApplyConfig()">Apply</button>
												
											</div>

											<div class="tab-pane fade" id="data_access" role="tabpanel"
												aria-labelledby="profile-tab">
												<div class="col-md-12">

													<div class="row">
														<div class="col-md-6 " style="margin-left: 80px;">

															<!-- Default inline 1-->
															<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" class="custom-control-input"
																	id="dataAccessRadio1" name="dataAccessRadio"
																	value="Offline" selected> <label
																	class="custom-control-label" for="dataAccessRadio1">Offline</label>
															</div>

															<!-- Default inline 2-->
															<!--<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" class="custom-control-input"
																	id="dataAccessRadio2" name="dataAccessRadio"
																	value="Remote"> <label
																	class="custom-control-label" for="dataAccessRadio2">Live</label>
															</div>-->





														</div>

													</div>

													<div class="row" id="dateFilter">

														<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
																<div class="form-group">
																	<label for="inputEmail3" class="col-sm-4 control-label">Start
																		Date</label>
																	<div class="col-sm-8">
																		<input type="text" class="form-control"
																			name="search-from-date" id="search-from-date" />
																	</div>
																</div>
																<div class="form-group">
																	<label for="inputPassword3"
																		class="col-sm-4 control-label">End Date</label>
																	<div class="col-sm-8">
																		<input type="text" class="form-control"
																			name="search-to-date" id="search-to-date" />
																	</div>
																</div>

																<div class="form-group">
																	<div class="col-sm-offset-2 col-sm-10">
																		<!--<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('running')">Fetch</button>-->

																		<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('csv')">CSV Report</button>
																		<button type="button"
																			class="btn btn-primary col-md-offset-2"
																			onclick="getOfflineData('tsv')">Tsv Report</button>
																	</div>
																</div>
															</form>

														</div>
													</div>
												</div>

											</div>
											
											
											<div class="tab-pane fade" id="system_config" role="tabpanel"
												aria-labelledby="system-config-tab">
												<div class="col-md-12">

													<div class="row" id="sysconfig">

														<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
															  <fieldset id="fieldset1">
															  <legend id="legend1" class="font">Trigger Configuration</legend>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="ugs">MANUAL OVERRIDE</label>
                                                                    <input type="radio" value="0" name="radiobtn"  id="radio">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radiobtn"  id="radio1">
                                                                    <label>Enable</label>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="tmdas">FALCON</label>
                                                                    <input type="radio" value="0" name="radio" id="radio20">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radio" id="radio3">
                                                                    <label>Enable</label>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label" id="auto">AUTO</label>
                                                                    <input type="radio" value="0" name="radiobtn1" id="radio4">
                                                                    <label>Disable</label>
                                                                    <input type="radio" value="1" name="radiobtn1" id="radio5">
                                                                    <label>Enable</label>
																</div>
																<label class="col-sm-4 control-label">Distance Range (0-5000 mtr)</label>
																<input type="number" value="0" id="range" min="0" max="5000">
															</fieldset>
															</form>

														</div>
														<div class="col-md-12 col-sm-12"style="overflow-x: auto; height:139px">
															<form class="form-horizontal">
															  <fieldset id="fieldset2">
															  <legend visible="true" class="font">Timers</legend>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Timeout (mins)</label> 
																		<select id="timeout">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																			<option value="11">11</option>
																			<option value="12">12</option>
																			<option value="13">13</option>
																			<option value="14">14</option>
																			<option value="15">15</option>
																			<option value="16">16</option>
																			<option value="17">17</option>
																			<option value="18">18</option>
																			<option value="19">19</option>
																			<option value="20">20</option>
																			<option value="21">21</option>
																			<option value="22">22</option>
																			<option value="23">23</option>
																			<option value="24">24</option>
																			<option value="25">25</option>
																			<option value="26">26</option>
																			<option value="27">27</option>
																			<option value="28">28</option>
																			<option value="29">29</option>
																			<option value="30">30</option>
																		</select>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Validity (mins)</label> 
																		<select id="validity">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																			<option value="11">11</option>
																			<option value="12">12</option>
																			<option value="13">13</option>
																			<option value="14">14</option>
																			<option value="15">15</option>
																			<option value="16">16</option>
																			<option value="17">17</option>
																			<option value="18">18</option>
																			<option value="19">19</option>
																			<option value="20">20</option>
																			<option value="21">21</option>
																			<option value="22">22</option>
																			<option value="23">23</option>
																			<option value="24">24</option>
																			<option value="25">25</option>
																			<option value="26">26</option>
																			<option value="27">27</option>
																			<option value="28">28</option>
																			<option value="29">29</option>
																			<option value="30">30</option>
																		</select>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Self-Timeout (mins)</label> 
																		<select id="selftimeout">
																			<option value="select">Select</option>
																			<option value="0.5">30 (Sec)</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																		</select>
																</div>
																<div class="form-group form">
																	<label class="col-sm-4 control-label">Self-Validity (mins)</label> 
																		<select id="selfvalidity">
																			<option value="select">Select</option>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																		</select>

																</div>
															</fieldset>
															</form>
															

														</div>
														<div style="float: right;">
																<button style="margin-left:530px" class="btn2 btn-info2" onclick="addSystemConfiguration()">Apply</button>
															</div>
													</div>
												</div>

											</div>
											
											<div class="tab-pane fade" id="priority" role="tabpanel" aria-labelledby="priority-tab">
												<div class="col-md-12">
													<div class="form-group">
													     <ul id="sortable"></ul>
													</div>
													<div style="float: right;">
														<button class="btn btn-info" onclick="updatePriority()">Apply</button>
													</div>
												
												</div>

											</div>
											
											<div class="tab-pane fade" id="freq_config" role="tabpanel" aria-labelledby="freq-config-tab">
												<div class="col-md-12">
													<div class="modal-body freq_body">
													<table class="table" style="font-family:arial;font-size: 12px;">
													<tbody>
														<tr>
															<td>Frequency(MHz)</td>
															<td>Bandwidth(Mhz)</td>
															<td>Type</td>
														</tr>
														<tr>
															<td><input type="text" value="0"  id="frequency" /></td>
															<td><input type="text" value="0"  id="bandwidth" /></td>
															<td> 
																<select id="freqtype">
																	<option value="select">Select</option>
																	<option value="blacklist">Blacklist</option>
																	<option value="whitelist">Whitelist</option>
																</select>
															</td>
															<td><button id="addbutton" class="btn1 btn-info1" onclick="addMaskingData()">Add</button></td>
														</tr>
													</tbody>
												</table>
												<table id="freq_grid"></table>
										        <div id="freq_pager"></div>
												</div>
												
												</div>

											</div>
											<div class="tab-pane fade" id="band_specific_filter" role="tabpanel" aria-labelledby="band-tab">
												<div class="col-md-12">
													<div class="tab-pane fade active show">
													<table class="table" style="font-family:arial;font-size: 12px;">
													<tbody>
														<tr>
															<td>Start Frequency</td>
															<td>Stop Frequency</td>
														
														</tr>
														<tr>
															<td><input type="text" value="9"  id="startfrequency" /></td>
															<td><input type="text" value="6000"  id="stopfrequency" /></td>
															
															<td><button id="addbutton" class="btn1 btn-info1" onclick="applyBand()">Add</button></td>

														</tr>
													</tbody>
												</table>
												<table id="band_freq_grid"></table>
										        <div id="band_freq_pager"></div>
												</div>
												<!--<td><button  style="margin-left:550px;margin-top:-15px"id="applyBandWithconfig" class="btn1 btn-info1" onclick="applyBandWithConfig()">Apply</button></td>-->
												<td><button class="btn btn-info" style="margin-left:512px;" onclick="applyBandWithConfig()">Apply</button></td>
												</div>

											</div>
											<div class="tab-pane fade" id="colour_band" role="tabpanel" aria-labelledby="colour-band-tab">
												<div class="col-md-12">
													<table class="color_table" style="font-family:arial;font-size: 12px;">
														<tbody>
															<tr>
																<td>Start Freq (MHz)</td>
																<td>Stop Freq (MHz)</td>
																<td>Default Emitter Power Level</td>
																<td>Emitter Power Range</td>
																<td>Modulation</td>
																<td>Technology</td>
																<td>Color</td>
															</tr>
															<tr>
																<td><input class="table1" type="number" value="0"  id="emtstartfrequency" /></td>
																<td><input class="table1" type="number" value="0"  id="emtstopfrequency" /></td>
																<td><input class="table1" type="number" value=""  id="depl" maxlength="2"/></td>
																<td><input class="table1" type="text" value=""  id="epr" /></td>
																<td><input class="table1" type="text" value=""  id="modulation" maxlength="10"/></td>
																<td> <input class="table1" type="text" value=""  id="networktype" maxlength="10"/></td>
																
																<td><input class="table1" type="text" id="color" /></td>
																<td><button id="applybutton" class="btn1 btn-info1 table1" onclick="defineColorStrips()">Add</button></td>
															</tr>
															<!--<tr>
																<td id="button_row">
															<div style="float: right;">
																<button class="btn btn-info" onclick="defineColorStrips()">Apply</button>
															</div></td>
															</tr>-->
	
														</tbody>
													</table>
													<table id="grid"></table>
											        <div id="pager"></div>
													<p>* Rest other than not defined in list default power is 30 dBm</p>
												
												</div>

											</div>
											
											<div class="tab-pane fade" role="tabpanel"  id="user_settings">
												<div class="col-md-12">
												<table id="userSettingsDiv"></table>
												<div id="userSettingsDivPager" style="text-align: center;"></div>
												</div>
											</div>
											
											
											
											<!-- <div class="tab-pane fade" id="user_settings" role="tabpanel" aria-labelledby="user-settings-tab">
												<div class="col-md-12">
													<div class="row" id="usersettings">
															<div class="col-md-12 col-sm-12">
															<form class="form-horizontal">
															  <fieldset id="fieldset1">
															  <legend id="legendiq" class="font">User Settings</legend>
															</fieldset>
															</form>	
														</div>
													</div>
												</div>
											</div> -->

											
						
										</div>


									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
				
				<!--<div class="row" id="system_container">
					<div class="col-md-6">
					</div>
					<div class="col-md-6">

						<div class="card">
							<div class="box_title">
								System Setting
							</div>
							<div class="">
								<form class="form" style="margin-top: 2%;">
								  <fieldset id="fieldset1">
								  <legend id="legend1" class="font">System Configuration</legend>
									<div class="form-group form">
										<label class="col-sm-4 control-label" id="ugs">System Type</label>
										<input type="radio" value="integrated" name="settingbtn"  id="radio">
										<label>Integrated</label>
										<input type="radio" value="standalone" name="settingbtn"  id="radio1">
										<label>Standalone</label>
									</div>
								</fieldset>
								</form>
								<div style="float: right;margin:1%;">
									<button class="btn2 btn-info2" onclick="updateUserSetting()">Update</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>-->
			</div>

		</div>


		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Add Device</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group">
							<label>Name</label> <input type="text" id="node_name"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>IP</label> <input type="text" id="node_ip"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Color</label> <input type="text" id="node_color"
								class="form-control" /><span class="input-group-addon"><i></i></span>
						</div>
						<div class="form-group">
							<label>Lat</label> <input type="text" id="node_lat"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Lon</label> <input type="text" id="node_lon"
								class="form-control" />
						</div>
						<input type="hidden" id="node_id" value="">
						<div class="form-group">
							<button class="btn btn-info" onclick="addNode()">Save</button>
						</div>

						<!--   <table class="table" id="add_node_form">
          	<thead>
          		<th colspan=2></th>
          	</thead>
          	<tbody>
          		<tr>
          			<td>Name</td>
          			<td><input type="text" id="node_name" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>IP</td>
          			<td><input type="text" id="node_ip" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>Color</td>
          			<td><input type="text" id="node_color" class="form-control" /><span class="input-group-addon"><i></i></span></td>
          		</tr>
          		<tr>
          			<td>Lat</td>
          			<td><input type="text" id="node_lat" class="form-control" /></td>
          		</tr>
          		<tr>
          			<td>Lon</td>
          			<td><input type="text" id="node_lon" /></td>
          		</tr>
          		<tr>
          			<td colspan=2 class="btn-row"><button class="btn btn-info" onclick="addNode()">Save</button></td>
          		</tr>
          	</tbody>
          </table> -->
					</div>

				</div>
			</div>
		</div>
		
		<div class="modal" id="sps_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">SPS Configuration</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
					
						<ul class="nav nav-tabs" id="myTab1" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="sps-tab" data-toggle="tab" href="#sps_update"
								role="tab" aria-controls="profile" aria-selected="false"><strong>SPS Latitude/Longitude</strong></a>
							</li>
						</ul>
						
						<div class="tab-pane fade show active" id="sps_update" role="tabpanel"
							aria-labelledby="sps-update-tab">
							<div class="form-group form" style="margin-top:10px;">
								<label class="col-sm-3 control-label">Latitude</label> 
								<input type="number" id="spsLat" class="form-control">
									
    							<label class="col-sm-3 control-label">Longitude</label> 
								<input type="number" id="spsLon" class="form-control">
							</div>
							<div class="form-group">
								<button class="btn btn-info" onclick="latLonUpdate()">Save</button>
							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
		
		<div class="modal" id="ptz_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Configuration</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
					
						<ul class="nav nav-tabs" id="myTab1" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								id="ptz-tab" data-toggle="tab" href="#ptz_update"
								onclick="getDisplay('ptz_update','jm_config','ptz_operation')"
								role="tab" aria-controls="profile" aria-selected="false"><strong>STRU Offset</strong></a>
							</li>
							
							<li class="nav-item"><a class="nav-link"
								id="profile-tab" data-toggle="tab" href="#ptz_operation"
								onclick="getDisplay('ptz_operation','jm_config','ptz_update')"
								role="tab" aria-controls="home" aria-selected="true"><strong>STRU Operation</strong></a>
							</li>

							<li class="nav-item" style="display:none;"><a class="nav-link"
								id="system-config-tab" data-toggle="tab" href="#jm_config"
								onclick="getDisplay('jm_config','ptz_operation','ptz_update')"
								role="tab" aria-controls="profile" aria-selected="false"><strong>JM Configuration</strong></a>
							</li>
						</ul>
						
						<div class="tab-pane fade show active" id="ptz_update" role="tabpanel"
							aria-labelledby="ptz-update-tab">
							<div class="form-group form" style="margin-top:10px;">
								<label class="col-sm-12 control-label">North Offset of STRU Initial Position</label> 
								<input type="number" id="northOffset" class="form-control">
									
    							<label class="col-sm-12 control-label">Offset between Sector Antenna Start Angle from STRU Init Position</label> 
								<input type="number" id="sectorOffset" class="form-control">
							</div>
							<div class="form-group">
								<button class="btn btn-info" onclick="ptzUpdate()">Save</button>
								<button class="btn btn-info" id="getptzoffset" onclick="getPtzOffset()">Get North Heading</button>
							</div>
						</div>
						
						<!--<div class="tab-pane fade" id="ptz_operation" role="tabpanel"
							aria-labelledby="ptz-config-tab">
							<div class="form-group form" style="margin-top:10px;">
								<label class="col-sm-3 control-label">Operation</label> 
									<select id="ptz_opr">
										<option value="UP">UP</option>
										<option value="DOWN">DOWN</option>
										<option value="LEFT">LEFT</option>
										<option value="RIGHT">RIGHT</option>
									</select>
									
    								<label class="col-sm-3 control-label">Target Value</label> 
									<input type="number" id="targetValue" class="form-control">
							</div>
							<div class="form-group">
								<button class="btn btn-info" onclick="ptzOperation()">Perform</button>
							</div>
						</div>-->
						
						<!--Vaibhav code-->
						<div class="tab-pane fade" id="ptz_operation" role="tabpanel"
							aria-labelledby="ptz-config-tab">
							<br/>
			
							<div class="tiltRollLabels">
								<label class="col-sm-2 "><b>Roll :</b></label> 
								<label class="col-sm-1" id="rollval">N/A</label> 
								<label class="col-sm-2 "><b>Tilt :</b></label> 
								<label class="col-sm-1" id="tiltval">N/A</label>
								<label class="col-sm-3 "><b>Degree :</b></label> 
								<input class="col-sm-2" type="number" value="1" min="1" max="180" id="ptz_degree" />
							</div>
							
							<br>
							<br>
							<div class ="wrapper1" >
								<div class="upButton">
									<button type="button" class="allButtonsize " onclick="ptzOperation('UP')"><i class="fas fa-arrow-up"></i></button>
								</div>
								<div class="leftButton_RightButton">
									<button type="button" style="display:inline-block;" class=" allButtonsize leftButton_RightButton" onclick="ptzOperation('LEFT')"><i class="fas fa-arrow-left"></i></button>
									<button type="button" style="display:inline-block;"   class=" allButtonsize" onclick="ptzOperation('RESTORE')"><i class="fas fa-sync"></i></button>
									<button type="button" style="display:inline-block;"   class=" allButtonsize rightButton" onclick="ptzOperation('RIGHT')"><i class="fas fa-arrow-right"></i></button>
								</div>
								<div class="downButton">
									<button type="button" class="allButtonsize " onclick="ptzOperation('DOWN')"><i class="fas fa-arrow-down"></i></button>
								</div>
							
							</div>
							
							<br/><br/> 	
							<div class="form-group">
								<button class="btn btn-info" onclick="getPtzDataNow()">GET</button>
							</div>
						</div>
							
						<!--Vaibhav code end-->
						
						<div class="tab-pane fade" id="jm_config" role="tabpanel"
							aria-labelledby="jm-config-tab">
							<div class="form-group">
								<div>
									<label class="labelClass">JM DeviceId</label>
									<label class="labelClass">AntennaId</label>
									<label class="labelClass">Sector</label>
								</div>
								<div>
								<input type="number" id="jm_deviceid" class="form-control textClass">
								<input type="number" id="antenna_id" class="form-control textClass">
								<input type="number" id="sector" class="form-control textClass">
								</div>
							</div>
							<table id="jm_grid"></table>
							<div id="jm_pager"></div>
							
							<div class="form-group" style="margin-top:1rem;">
								<button class="btn btn-info" onclick="addJM()">Save</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
	<div class="modal" id="bms_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">BMS Configuration</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						
							<!--  <button class="btn btn-info ab " data-cmd=ON onclick="sendBtnData(this)"> ON</button>
							<button class="btn btn-info ab" data-cmd=RESET onclick="sendBtnData(this)"> RESET</button>
						    <input type="text" id="Pr_text" />
							
							<button class="btn btn-info ab" data-id="1" data-cmd=PR onclick="sendBtnData(this)"> Periodicity</button>-->
							<input type="hidden"  id="ipBms" />
							<table id="action_table" class="table table-striped">
								<thead>
									<th>Parameter</th>
									<th></th>
									<th></th>
								</thead>
								<tbody>
									<!--  <tr>
										<td>Load</td>
										<td id="lod_txt"></td>
										<td>
											<button class="btn btn-info ab"  id="load_on" data-id="1" data-cmd="LON" onclick="sendBtnData(this)">ON</button>
											<button class="btn btn-info ab" id="load_off" data-id="2" data-cmd="LOFF"  onclick="sendBtnData(this)">OFF</button>
										</td>
									</tr>-->
									<tr>
										<td>Periodicity (in mins)</td>
										<td><input type="text" id="Pr_text" /></td>
										<td><button class="btn btn-info ab" data-id="5" data-cmd="PR"  onclick="sendBtnData(this)">Save</button></td>
									</tr>
									<tr>
										<td>System time</td>
										<td id="bms_sys_time"></td>
										<td></td>
									</tr>
									<tr>
										<td colspan=3>
											<button class="btn btn-info ab" data-id="4" 	data-cmd="RESET"  	onclick="sendBtnData(this)">System Reset</button>
											<button class="btn btn-info ab"  id="load_on" data-id="1" data-cmd="LON" onclick="sendBtnData(this)">Power Reset</button>
											<button class="btn btn-info ab" data-id="10" 	data-cmd="SYNCH"  	onclick="sendBtnData(this)">Synch</button>
											<button class="btn btn-info ab" data-id="6" 	data-cmd="GET_STATUS"  onclick="sendBtnData(this)">Status</button>
											<button class="btn btn-info ab" data-id="11" 	data-cmd="SET_TIME"  onclick="sendBtnData(this)">Time Synch</button>
										</td>
									</tr>
								</tbody>
							</table>
							<table border=1 id="bms_modal_status_table">
								<tbody>
									<!--  <tr><td>Battery Cell Voltage 1</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 2</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 3</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 4</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 5</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 6</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 7</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 8</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 9</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 10</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 11</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 12</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 13</td><td>NA</td></tr>
									<tr><td>Battery Cell Voltage 14</td><td>NA</td></tr>
									<tr><td>Battery Total Voltage</td><td>NA</td></tr>
									<tr><td>Total Battery Current</td><td>NA</td></tr>-->
									<tr><td>Cell Voltage 1</td><td id="stat_1">NA</td><td>Cell Voltage 10</td><td id="stat_10">NA</td></tr>
									<tr><td>Cell Voltage 2</td><td id="stat_2">NA</td><td>Cell Voltage 11</td><td id="stat_11">NA</td></tr>
									<tr><td>Cell Voltage 3</td><td id="stat_3">NA</td><td>Cell Voltage 12</td><td id="stat_12">NA</td></tr>
									<tr><td>Cell Voltage 4</td><td id="stat_4">NA</td><td>Cell Voltage 13</td><td id="stat_13">NA</td></tr>
									<tr><td>Cell Voltage 5</td><td id="stat_5">NA</td><td>Cell Voltage 14</td><td id="stat_14">NA</td></tr>
									<tr><td>Cell Voltage 6</td><td id="stat_6">NA</td><td>Total Voltage(V)</td><td id="stat_15">NA</td></tr>
									<tr><td>Cell Voltage 7</td><td id="stat_7">NA</td><td>Total Current(A)</td><td id="stat_16">NA</td></tr>
									<tr><td>Cell Voltage 8</td><td id="stat_8">NA</td><td>SOC(%)         </td><td id="stat_17">NA</td></tr>
									<tr><td>Cell Voltage 9</td><td id="stat_9">NA</td><td>Temperature(C) </td><td id="stat_18">NA</td></tr>
									
								</tbody>
							</table>
							 
					</div>

				</div>
			</div>
		</div>
		
	
	
	
	
		
		
		
		<div class="modal" id="def_modal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Maximize</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group" id="def_form">
							<label>Antenna Rotation</label> <label>From</label> <input
								type="numeric" id="start_angle" class="form-control"
								placeholder="Start Angle" /> <label>To</label> <input
								type="numeric" id="end_angle" class="form-control"
								placeholder="End Angle" /> <label>Frequency Offset (Mhz)</label>
							<input type="numeric" id="frequency_offset" class="form-control"
								value="0" placeholder="Frequency Offset (MHz)" /> <label>Tilt
								Angle</label> <input type="numeric" id="tilt_angle" class="form-control"
								value="0" placeholder="Tilt Angle" />
						</div>
						<div class="form-group">
							<label>Frequency</label> <input type="numeric" id="def_freq"
								class="form-control" />
						</div>

						<div class="form-group">
							<button class="btn btn-info" id="start_def_button"
								onclick="startDef()">Start</button>
						</div>


					</div>

				</div>
			</div>
		</div>
		<div class="modal" id="addPtzModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">PTZ</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-group">

							<label>PTZ IP</label> <input type="text" class="form-control"
								id="ptz_ip">
						</div>
						<div class="form-group">

							<label>Angle Offset</label> <input type="text"
								class="form-control" id="ptz_angle_offset">
						</div>
						<input type="hidden" id="ptz_id" />
						<div class="form-group">
							<button class="btn btn-info" onclick="addPtzNode()">Save</button>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-12">
			<footer class="fixed-bottom bottom1">
				<table class="table table-bordered status_bar">
					<thead>
					<tr>
						<th>Start Freq<span>(MHz)</span></th>
						<th>Stop freq<span>(MHz)</span></th>
						<th>Power Threshold<span>(dBm)</span></th>
						<th>GSM DL</th>
						<th>WCDMA DL</th>
						<th>LTE</th>
						<th>WiFi</th>
						<!-- <th>Sweep Time</th> -->
						<th>Location</th>
						<th>Start Time</th>
					</tr>
					</thead>
					<tbody>

						<!--  <tr>
					<td>Start Freq&nbsp;:&nbsp;<span id="start_freq_status" class="status_bar">1000</span><span>(MHz)</span></td>
					<td>Stop freq&nbsp;:&nbsp;<span id="stop_freq_status" class="status_bar">1000</span><span>(MHz)</span></td>
					<td>Power Threshold&nbsp;:&nbsp;<span id="threshold_status" class="status_bar">1000</span><span>(dBm)</span></td>
					<td>GSM Downlink&nbsp;:&nbsp;<span id="gsm_status" class="status_bar">OFF</span></td>
					<td>WCDMA Downlink&nbsp;:&nbsp;<span id="wcdma_status" class="status_bar">OFF</span></td>
					<td>LTE&nbsp;:&nbsp;<span id="lte_status" class="status_bar">OFF</span></td>
					<td>WiFi&nbsp;:&nbsp;<span id="wifi_status" class="status_bar">OFF</span></td>
					 <td>Sweep Time&nbsp;:&nbsp;<span id="sweep_status" class="status_bar">0.45637</span></td>
					<td>Mask Offset&nbsp;:&nbsp;<span id="mask_status" class="status_bar">OFF</span></td>
					<td>Start Time&nbsp;:&nbsp;<span id="start_status" class="status_bar">27-3-5 45:45:45</span></td>
				</tr>-->

						<tr>
							<td>Operation Mode</td>
							<td>Start Freq<span>(MHz)</span></td>
							<td>Stop freq<span>(MHz)</span></td>
							<td>Power Threshold<span>(dBm)</span></td>
							<td>GSM Downlink</td>
							<td>WCDMA Downlink</td>
							<td>LTE</td>
							
							<td>WiFi</td>
							<!--  <td>Sweep Time</td>-->
							<td>Location</td>
							<td>Start Time</td>
						</tr>

						<tr>
							<td  style="background-color:black"><span id="Opr_mode" class="status_bar"></span></td>
							<td><span id="start_freq_status" class="status_bar"></span></td>
							<td><span id="stop_freq_status" class="status_bar"></span></td>
							<td><span id="threshold_status" class="status_bar"></span></td>
							<td><span id="gsm_status" class="status_bar"></span></td>
							<td><span id="wcdma_status" class="status_bar"></span></td>
							<td><span id="lte_status" class="status_bar"></span></td>
							
							<td><span id="wifi_status" class="status_bar"></span></td>
							<!-- <td><span id="sweep_status" class="status_bar"></span></td>-->
							<td><span id="location" class="status_bar"></span></td>
							<td><span id="start_status" class="status_bar"></span></td>
						</tr>

					</tbody>
				</table>
				</footer>
			</div>
		</div>



	<input type="hidden" id="map_server_ip" th:value="${mapServerIp}" />
	<input type="hidden" id="start_time" th:value="${startTime}" />
	<input type="hidden" id="user" th:value="${user}" />
	<input type="hidden" id="system_type" th:value="${type}" />
	<!--<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzeZS7SkEdznPknWj0AgRRbd9dJYKTtz4"></script>-->
	<script th:src="@{js/lib/sockjs.min.js}"></script>
	<script th:src="@{js/lib/stomp.min.js}"></script>
	<!--<script th:src="@{js/lib/jquery/jquery-1.9.1.js}"></script>-->
	<script th:src="@{js/lib/jqgrid/grid.locale-en.js}"></script>
	<script th:src="@{js/lib/jquery/jquery-ui-1.10.1.js}"></script>
	<script th:src="@{js/lib/jquery/jquery.jqGrid.min.js}"></script>
	<script th:src="@{js/lib/bootstrap.min.js}"></script>
	<script th:src="@{js/lib/Chart.bundle.min.js}"></script>
	<script th:src="@{js/lib/chartjs-plugin-annotation.min.js}"></script>
	<script th:src="@{js/lib/bootstrap-colorpicker.min.js}"></script>

	<script th:src="@{js/lib/leaflet.js}"></script>
	<script th:src="@{js/lib/Leaflet.GoogleMutant.js}"></script>
	<script th:src="@{js/lib/leaflet.geometryutil.js}"></script>

	<script th:src="@{js/lib/Leaflet.fullscreen.min.js}"></script>

	<script th:src="@{js/lib/turf.min.js}"></script>
	<script th:src="@{js/urls.js}"></script>
	<script th:src="@{js/lib/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{js/operation.js}"></script>
	<script th:src="@{js/lib/sweetalert.min.js}"></script>

	<!--  SCRIPT ATTACHMENT SECTION -->
</body>