<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Current Alarm </title>
    <script th:src="@{js/sockjs.min.js}"></script> 
    <script th:src="@{js/stomp.min.js}"></script>
    <link rel="stylesheet" th:href="@{css/themify-icons.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/>
    <link th:href="@{css/jquery-confirm.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{css/fault.css}"/>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/jquery-confirm.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script> -->
	 
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{css/ui.jqgrid.min.css}"/>
    <script th:src="@{js/jquery.jqGrid.min.js}"></script>
    <script th:src="@{js/url.js}"></script>
    <script th:src="@{js/fault1.js}"></script>
   
</head>
<body>

<table id="grid"></table>
<div id="pager2"></div>
</body>
</html>